@use "helper";

.table{
    &-wrap{
        margin-bottom:0;
        color:#000000;
        border-top:1px solid #000000;
        table{
            margin-bottom: 0;
        }
        thead{
            background: #f4f6f1;
            tr{
                border-bottom:1px solid #b7b7b7;
                th{
                    height: 6rem;
                    font-weight: 500;
                }
            }
        }
        tr{
            th, td{
                font-size: 1.8rem;
                border:none;
                text-align: center;
                vertical-align: middle;
            }        
            td{
                &.num{
                    .badge{
                        @include d-flex;
                        width:5.1rem;
                        height:2.7rem;
                        padding:0;
                        margin: 0 auto;
                        font : {
                            size:1.6rem;
                            weight:300;
                        }
                        color:#ffffff;
                        background: #3f8501;
                        transition: none;
                        border-radius: .3rem;
                    }
                }
                &.tit{
                    text-align: left;
                    a{
                        @include text-overflow;
                        padding-right: 2.3rem;
                        font-size: 1.8rem;
                        &.lock{
                            position: relative;
                            &::before{
                                display: inline-block;
                                position:absolute;
                                top: 50%;
                                right: 0;
                                width: 1.3rem;
                                height: 1.6rem;
                                background: url(../image/icon/icon-lock.png) no-repeat center;
                                transform: translateY(-50%);
                                content: "";
                            }
                        }
                    }
                    .tit__inner{
                        @include display-flex;
                        @include align-center;
                        width:93%;
                        overflow: hidden;
                        //white-space: nowrap;
                        a{
                            padding-right:0;
                        }
                        .lock{
                            flex:none;
                            width: 1.3rem;
                            height: 1.6rem;
                            margin-left: 1rem;
                            background: url(../image/icon/icon-lock.png) no-repeat center;
                            background-size: 1.3rem 1.6rem;
                        }
                    }
                    
                }
                &.file{
                    @include d-flex;
                    i{
                        display: inline-block;
                        width:2.3rem;
                        height:2.1rem;
                        background: url(../image/icon/icon-file.png) no-repeat center;
                        background-size: cover;
                    }
                }
                a{
                    font-size: 1.8rem;
                }
            }
        }
        tbody{
            tr{
                border-bottom:1px solid #e4e4e4;
                td{
                    height:7.5rem;
                    padding:1rem;
                }
            }
        }
        &.ver{
            tbody{
                th, td{
                    height: 7rem;
                }
                th{
                    padding:0 3rem;
                    text-align:right;
                    background: #f4f6f1;
                    border-right:1px solid #b7b7b7;
                    font-weight: 500;
                }
                td{
                    padding-left:2.5rem;
                    
                }
            }
        }
        &.tdBorder{
            .table{
                position:relative;
                margin-bottom: 0;
                &::before{
                    position:absolute;
                    top: 0;
                    right:-1px;
                    width: 1.1px;
                    height: 100%;
                    background: #ffffff;
                    content: "";
                }
            }
            thead{
                th{
                    border-right:1px solid #dcdcdc;
                }
            }
            tbody{
                td{
                    border-right:1px solid #dcdcdc;
                }
            }
            ul{
                padding:0rem 1.3rem;
                text-align: left;
                li{
                    //display: inline-block;
                    position:relative;
                    padding-left:1rem;
                    line-height: 3.4rem;
                    font-size: 1.8rem;
                    &::before{
                        position:absolute;
                        top:1.6rem;
                        left:0;
                        width:2px;
                        height:2px;
                        background: #000000;
                        content:""
                    }
                }
                &.list{
                    &-dashed{
                        padding:0;
                        li{
                            line-height: 2.5rem;
                            &::before{
                                width:.5rem;
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }
        &.pd-25{
            tbody{
                tr{
                    td{
                        padding:2.5rem 1rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
    &-title{
        margin-bottom: 3.5rem;
        font: {
            size:3.2rem;
            weight:500;
        }
        text-align: center;
    }
}