.icon { display: block; width: 1.5rem; height: 1.3rem; background-repeat: no-repeat; }

.icon.arrow-fill { background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__bottom { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__right { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__white { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__gray { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__dgray { width: 1.5rem; width: 1.3rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-round { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-back { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-top { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-left { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E"); }

.icon.arrow-first { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-last { background-image: url("data:image/svg+xml;charset=utf8, "); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-prev { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; }

.icon.arrow-next { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-right { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-more { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.close { width: 13px; height: 13px; background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E"); }

.icon.close_big { background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E"); }

.sitemap-close { background-image: url("data:image/svg+xml;charset=utf8, "); }

.board-view .view-header { padding: 4rem 3rem; border-top: 1px solid #000000; border-bottom: 1px solid #e4e4e4; }

.board-view .view-header > div { width: 100%; }

.board-view .view-title { font-size: 3rem; font-weight: 500; color: #222222; text-align: center; }

.board-view .view-info { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 4rem; }

.board-view .view-info * { font-size: 1.7rem; color: #555555; line-height: normal; }

.board-view .view-info > * + * { position: relative; padding-left: 5rem; }

.board-view .view-info > * + *::before { position: absolute; top: 0.5rem; left: 2.5rem; width: 1px; height: 1.5rem; background: #777777; content: ""; }

.board-view .view-content { font-size: 1.8rem; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #000000; }

.board-view .view-file { padding: 2.5rem 3rem; }

.board-view .view-file + .view-file { border-top: 1px solid #e4e4e4; }

.board-view .view-file > div > p { line-height: normal; }

.board-view .view-file * { font-size: 1.7rem; color: #555555; }

.board-view .view-file .file-list { margin-left: .3rem; }

.board-view .view-file a { font-size: 1.7rem; color: #3f8501; line-height: normal; }

.board-view .view-content { padding: 4rem 3rem; }

.board-prevnext .badge { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 6.1rem; height: 2.5rem; margin-right: 3rem; font-size: 1.2rem; color: #222222; border: 1px solid #cbcbcb; border-radius: .3rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.board-prevnext > div { padding: 2.5rem 3rem; border-bottom: 1px solid #e4e4e4; }

.board-prevnext > div a { font-size: 1.8rem; color: #333333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
