/* button */
.button-wrap { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.button-wrap button { width: 11.3rem; height: 4.3rem; font-size: 1.6rem; color: #ffffff; }

.button-wrap button + button { margin-left: .3rem; }

.button-wrap button.button-border { color: #555555; background: #f9f9f9; border: 1px solid #cccccc; }

.button-wrap button.button-gray { background: #aeaeae; }

.button-wrap button.button-deepgray { background: #6a6a6a; }

.button-wrap button.button-green { background: #3f8501; }

.button-wrap button.w-auto { padding: 0 3.38rem; }
