@charset "UTF-8";
.icon { display: block; width: 1.5rem; height: 1.3rem; background-repeat: no-repeat; }

.icon.arrow-fill { background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__bottom { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__right { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__white { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__gray { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__dgray { width: 1.5rem; width: 1.3rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-round { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-back { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-top { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-left { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E"); }

.icon.arrow-first { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-last { background-image: url("data:image/svg+xml;charset=utf8, "); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-prev { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; }

.icon.arrow-next { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-right { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-more { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.close { width: 13px; height: 13px; background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E"); }

.icon.close_big { background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E"); }

.sitemap-close { background-image: url("data:image/svg+xml;charset=utf8, "); }

.color-red { color: #e63c2e !important; }

.color-deepgray { color: #555555 !important; }

.color-bgGray { color: #f7f9fb; }

.color-black { color: #000 !important; }

.color-fontgray { color: #747478; }

.color-lightgray { color: #dddddd; }

.color-gray { color: #78838c; }

.color-white { color: #fff !important; }

.color-green { color: #0e9200 !important; }

.color-lightgreen { color: #00b050 !important; }

.color-blue { color: #004690 !important; }

.color-skyblue { color: #00a2ff !important; }

.color-cloudyBlue { color: rgba(0, 70, 144, 0.4) !important; }

.bgGray { background-color: #f7f9fb; }

.font-family__sn { font-family: "SeoulNamsan"; }

.font-weight__l { font-weight: 200; }

.font-weight__r { font-weight: 300; }

.font-weight__m { font-weight: 500 !important; }

.font-weight__b { font-weight: 600 !important; }

.ml_5 { margin-left: .5rem; }

.mr_5 { margin-right: .5rem; }

.mt_5 { margin-top: .5rem; }

.mt_10 { margin-top: 1rem; }

.ml_10 { margin-left: 1rem !important; }

.mr_10 { margin-right: 1rem !important; }

.mb_10 { margin-bottom: 1rem; }

.mb_15 { margin-bottom: 1.5rem; }

.mt_15 { margin-top: 1.5rem; }

.mr_15 { margin-right: 1.5rem !important; }

.ml_15 { margin-left: 1.5rem !important; }

.mt_20 { margin-top: 2rem; }

.mb_20 { margin-bottom: 2rem; }

.ml_20 { margin-left: 2rem !important; }

.mt_25 { margin-top: 2.5rem; }

.mt_30 { margin-top: 3rem !important; }

.ml_30 { margin-left: 3rem !important; }

.mb_30 { margin-bottom: 3rem; }

.mt_35 { margin-top: 3.5rem; }

.mt_40 { margin-top: 4rem !important; }

.ml_40 { margin-left: 4rem; }

.mt_45 { margin-top: 4.5rem; }

.ml_45 { margin-left: 4.5rem; }

.mt_50 { margin-top: 5rem !important; }

.mb_40 { margin-bottom: 4rem; }

.mb_50 { margin-bottom: 5rem !important; }

.mt_60 { margin-top: 6rem; }

.mt_80 { margin-top: 8rem; }

.mt_90 { margin-top: 9rem; }

.mt_100 { margin-top: 10rem; }

.mt_120 { margin-top: 12rem; }

.my_4 { margin-top: 4rem; margin-bottom: 4rem; }

.mx_2 { margin-left: 2rem; margin-right: 2rem; }

.pl_10 { padding-left: 10px; }

.py_1 { padding-top: 1rem; padding-bottom: 1rem; }

.px_2 { padding-left: 2rem; padding-right: 2rem; }

.py_2 { padding-top: 2rem; padding-bottom: 2rem; }

.py_4 { padding-top: 4rem; padding-bottom: 4rem; }

.pb_100 { padding-bottom: 10rem; }

.font_30 { font-size: 3rem; line-height: 3.2rem; }

/* 공통 */
html { font-size: 62.5%; font-weight: 300; letter-spacing: -0.25px; }

@media (max-height: 936px) { html { font-size: 52.5%; } }

@media (max-width: 720px) { html { font-size: 57.81%; } }

@media (max-width: 640px) { html { font-size: calc(62.5% / 1.3); } }

@media (max-width: 540px) { html { font-size: calc(62.5% / 1.7); } }

@media (max-width: 375px) { html { font-size: calc(62.5% / 2); } }

.font-noto { font-family: "notokr", sans-serif; }

.font_j { font-family: 'JSDongkang-bold', 'JSDongkang-Regular'; }

p { font-size: 2rem; color: #000000; }

p.font-s { font-size: 1.8rem; line-height: 3.4rem; }

.font-n { font-size: 2rem !important; }

.font-l { font-size: 2.6rem !important; }

.font-m { font-size: 2.4rem !important; }

.font-s { font-size: 1.8rem !important; line-height: 3.4rem; }

.font-xs { font-size: 1.6rem !important; }

h1 { font-size: 6.4rem; }

h2 { font-size: 5.4rem; }

h3 { font-size: 3.6rem; }

h4 { font-size: 2.6rem; font-weight: 600; }

h5 { font-size: 1.8rem; }

/* 부트스트랩 초기화 */
body { color: #000000; }

dl, ol, ul { margin-bottom: 0; }

a { color: #000; }

a:hover { color: #000; text-decoration: none; }

button { background: transparent; }

p { margin-bottom: 0; }

#skipNavigation { position: absolute; left: 0; top: 0; width: 100%; z-index: 10000; }

#skipNavigation a { display: block; position: absolute; left: 0; top: -10px; width: 100%; height: 1px; margin-bottom: -1px; background: #f2f2f2; font-size: 0; text-align: center; font-weight: bold; color: #444; }

#skipNavigation a:hover, #skipNavigation a:focus, #skipNavigation a:active { position: absolute; left: 0; top: 0; height: 30px; padding: 4px; font-size: 15px; }

.alternate, .hidden { position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; text-indent: -9999px; }

.header { position: relative; top: 0; width: 100%; height: 11.7rem; z-index: 2; }

.header.main .header__inner { height: 100%; max-width: 140rem; margin: 0 auto; }

.header.main .gnb > li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.header__inner { height: 100%; max-width: 140rem; margin: 0 auto; }

.header .logo-wrap { width: 18.6rem; height: 100%; }

.header .logo-wrap a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; }

.header .logo-wrap a img { display: block; }

.header .gnb { margin: 0 auto; }

.header .gnb > li { position: relative; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.header .gnb > li:nth-child(4) ul li a { letter-spacing: -1.5px; }

.header .gnb > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; text-shadow: 16.2px 11.8px 44px rgba(0, 0, 0, 0.28); -webkit-text-stroke: 1px rgba(0, 0, 0, 0.28); font-size: 2.4rem; font-weight: 600; }

.header .gnb > li > a.on { color: #00a2ff; background: #f8f8f8; }

.header .gnb > li > a + ul { display: none; position: absolute; width: 100%; padding: 3rem 1rem; background: #f9fafa; border-top: 1px solid #b4b4b4; }

.header .gnb > li > a + ul.open { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.header .gnb > li > a + ul li + li { margin-top: 1rem; }

.header .gnb > li > a + ul li a { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; font-size: 1.7rem; font-weight: 500; color: #0e253a; line-height: 1.5; letter-spacing: -0.4px; text-align: center; }

.header .gnb > li > a + ul li a:hover { color: #00a2ff; }

.header .gnb > li > a + ul li a:hover::before { position: absolute; bottom: 0; width: 100%; height: 1px; background: #00a2ff; content: ""; }

.header .gnb-box.mobile { display: none; }

/* icon 아이콘 */
.icon.plus { width: 1.6rem; height: 1.6rem; background: url(../image/common/icon/icon-plus.png); }

/* ul */
ul.list-dashed { position: relative; }

ul.list-dashed li { position: relative; padding-left: 1rem; font-size: 1.8rem; line-height: 1.78; }

ul.list-dashed li::before { position: absolute; top: 1.4rem; left: 0; width: .5rem; height: .1rem; background: #78838c; content: ""; }

/* checkbox */
/* select 셀렉트 영역 스타일 */
.select-custom { position: relative; line-height: 8.1rem; border-radius: 1.5rem; font-size: 2.5rem; cursor: pointer; color: #cccccc; border: .1rem solid #ced4da; background: #fff; }

.select-custom + .select-custom { margin-top: 2rem; }

.select-custom span.selected-option { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; font-size: 2.5rem; background-image: url(../image/icon-select.png); background-repeat: no-repeat; background-position: right 3rem center; background-size: 2.1rem 1.5rem; padding-left: 3rem; }

.select-custom span.selected-option i { display: inherit; margin-right: 2.5rem; }

.select-custom span.selected-option em { font-size: 2.8rem; font-weight: 600; }

.select-custom.on:not(.select-modal) { height: auto; }

.select-custom.on:not(.select-modal) span.selected-option { border-bottom: 1px solid #cccccc; }

.select-custom ul { position: relative; width: 100%; cursor: pointer; z-index: 1; }

.select-custom ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 2.5rem; border-radius: 1.5rem; padding: 0 3rem; color: #000; }

.select-custom ul li.hide { display: none; }

.select-custom ul li span { font-size: 2.5rem; }

.select-custom ul li i { display: block; position: relative; width: 3rem; height: 3rem; margin-right: 2.5rem; }

.select-custom ul li i img { display: inline-block; position: absolute; width: 100%; }

.select-modal span.selected-option { padding: 0 3rem; color: #000; background-image: none; }

.select-modal span.selected-option i { margin-right: 0; background-size: cover; }

.select-modal span.selected-option i.people { width: 3.1rem; height: 2.3rem; }

.select-modal span.selected-option i.date { width: 2.9rem; height: 2.5rem; }

/* scrollbar */
.book-list::-webkit-scrollbar { width: .4rem; }

.book-list::-webkit-scrollbar-thumb { background-color: #9dd757; border-radius: 1rem; }

.book-list::-webkit-scrollbar-track { background-color: #d2d2d2; border-radius: 1rem; }

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
.sub-title { margin-bottom: 5rem; font-size: 4.3rem; font-weight: 600; text-align: center; }
