/* ========== reponsive =========== */
/*
* xs: 576px,// Small screen / phone
* sm: 768px,// Medium screen / tablet
* md: 1024px,// Large screen / desktop
* lg: 1280px,// Extra large screen / wide desktop
* ml: 1400px,// middle screen
* xl: 1600px,
* up:min-width / down:max-width / only:(min-width,max-width)
*/
@media (min-width: 320px) {
  html {
    font-size: 20.8333333333%;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 31.25%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 52.0833333333%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

#skipNavigation {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}
#skipNavigation a {
  display: block;
  left: -9000px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 500;
  background-color: #fff;
}
#skipNavigation a:hover, #skipNavigation a:focus, #skipNavigation a:active {
  position: Absolute;
  padding: 0.2rem 0;
  left: 0;
  color: #000;
  font-size: 2rem;
  z-index: 500;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/** header */
.header__inner {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 24rem;
  padding: 0 5rem;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__inner {
  margin-right: 5rem;
}
.header-logo__link {
  display: block;
  width: 14.1rem;
  height: 11.2rem;
  background: url(../image/common/logo.png) no-repeat center;
  background-size: cover;
}
.header-user__inner {
  font-size: 5.2rem;
}
.header-user .user-name {
  font-size: 6.4rem;
  font-weight: 600;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
}
.header-right {
  margin-left: auto;
}
.header-alarm__button {
  width: 6.9rem;
  height: 8.2rem;
  background: url(../image/common/icon-alarm.png) no-repeat center;
  background-size: 6.9rem 8.2rem;
}
.header-hamberger {
  margin-left: 9rem;
}
.header-hamberger__button {
  width: 7.8rem;
  height: 6.8rem;
  background: url(../image/common/icon-hamberger.png);
  background-size: 7.8rem 6.8rem;
}