@charset "UTF-8";
/* 현재 이용중인 간병 서비스 */
.care-service__inner {
  position: relative;
  height: auto;
  padding: 9rem 5rem;
  background: #4b62c3;
}
.care-service__text1 {
  margin-top: 9rem;
  color: #ffffff;
  font-size: 7rem;
  text-align: center;
}
.care-service__text2 {
  margin-top: 5rem;
  color: #b8bfe7;
  font-size: 4.4rem;
  text-align: center;
}
.care-service__buttons {
  display: flex;
  width: 100%;
  margin-top: 13rem;
  background: #ffffff;
  border-radius: 2rem;
  box-sizing: border-box;
  box-shadow: 2rem 2rem 4rem rgba(84, 93, 131, 0.35);
}
.care-service__button {
  height: 20rem;
  flex: 1;
  font-size: 7rem;
  font-weight: 600;
  color: #3c50a2;
}
.care-service-icon {
  width: 25.1rem;
  height: 25.1rem;
  margin: 0 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.care-service-icon__list {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.care-service-icon:nth-child(1) {
  background-image: url(../image/main/icon-care-service01.png);
}
.care-service-icon:nth-child(2) {
  background-image: url(../image/main/icon-care-service02.png);
}
.care-service-icon:nth-child(3) {
  background-image: url(../image/main/icon-care-service03.png);
}

/* 동영상 콘텐츠 영역 */
.video-area__inner {
  height: 80rem;
  margin: 13rem 5rem 0 5rem;
  background: #4b62c3;
  border-radius: 3rem;
}

/* 컨텐츠 영역 */
.look-service__inner {
  margin: 14rem 5rem 0 5rem;
  height: 75.5rem;
  border-radius: 3rem;
}
.look-service .swiper-pagination-fraction {
  display: inline-block;
  right: 0;
  left: auto;
  width: auto;
  padding: 0 3rem;
  background: rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  border-radius: 3.6rem;
  color: #ffffff;
}
.look-service .swiper-pagination-fraction span {
  font-size: 3rem;
}