@charset "UTF-8";
/** 재단소개 > 공지사항 */
.subVisual--intro {
  background-image: url("../image/sub/img-subVisual--05.jpg");
  background-position: center 0;
}

/* 재단소개 > 오시는 길 */
.root_daum_roughmap .wrap_controllers {
  display: none;
}

.wayAbout-info {
  padding: 5rem;
  background: #fafcff;
  border-top: 1px solid #81a1dc;
}
.wayAbout-info dl {
  display: inline-block;
}
.wayAbout-info dl + dl {
  margin-left: 3rem;
}
.wayAbout-info dt, .wayAbout-info dd {
  display: inline-block;
  font-size: 1.8rem;
  line-height: normal;
}
.wayAbout-info dt {
  margin-right: 1rem;
  font-weight: 500;
}
.wayAbout-route__inner {
  margin-top: 3rem;
}
.wayAbout-route__inner table {
  border-top: 1px solid #81a1dc;
}
.wayAbout-route__inner table tr {
  border-bottom: 1px solid #d2d5dc;
}
.wayAbout-route__inner table th {
  background: #fafcff;
  border-right: 1px solid #d2d5dc;
}
.wayAbout-route__inner table th, .wayAbout-route__inner table td {
  padding: 3rem 4rem;
  vertical-align: middle;
}
.wayAbout-route__th {
  width: 23.3rem;
}

.route-way__txt {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.route-way__how-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.route-way__how-item--left, .route-way__how-item--right {
  display: flex;
  align-items: center;
}
.route-way__how-item * {
  flex: none;
}
.route-way__how-item + .route-way__how-item {
  margin-top: 1rem;
}
.route-way__how-item--ps {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.route-way__how-icon {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1.5rem;
  background-size: 2.2rem;
}
.route-way__how-icon.subway-line6 {
  background-image: url(../image/sub/icon-line6.png);
}
.route-way__how-icon.subway-lineair {
  background-image: url(../image/sub/icon-lineair.png);
}
.route-way__how-icon.bus-blue {
  background-image: url(../image/sub/icon-bus__blue.png);
}
.route-way__how-icon.bus-green {
  background-image: url(../image/sub/icon-bus__green.png);
}
.route-way__how-icon.bus-red {
  background-image: url(../image/sub/icon-bus__red.png);
}
.route-way__how-tit, .route-way__how-txt {
  font-size: 1.8rem;
}
.route-way__how-tit {
  width: 8.5rem;
  font-weight: 500;
}
.route-way__how-txt--next {
  display: inline-block;
  width: 0.8rem;
  height: 1.3rem;
  margin: 0 1rem;
  background: url(../image/common/icon/icon-next.png) no-repeat center;
  background-size: 0.8rem 1.3rem;
}

/* 재단소개 > 부서안내 */
.org-img {
  position: relative;
  width: 100%;
}
.org-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.org-img img.org-img__m {
  display: none;
}
.org-list {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
}
.org-item {
  position: relative;
  width: calc(20% - 8.7rem);
  height: 6.5rem;
  border: 1px solid #aab0bd;
  box-sizing: border-box;
  border-radius: 2px;
  background: #f5f5f5;
}
.org-item::before, .org-item::after {
  display: inline-block;
  position: absolute;
  content: "";
}
.org-item::before {
  top: -4.8rem;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  border: 1px solid #8c8c8c;
  background: #ffffff;
  transform: translateX(-50%);
  z-index: 1;
}
.org-item::after {
  top: -3.9rem;
  left: 50%;
  width: 1px;
  height: 4rem;
  background: #8c8c8c;
  transform: translateX(-50%);
  z-index: -1;
}
.org-item.is-active {
  background: #ebf2ff;
  box-shadow: 1rem 1rem 2rem rgba(9, 14, 46, 0.13);
}
.org-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
}
.org-ps {
  margin-left: 2.5rem;
  font-size: 1.8rem;
  color: #747478;
}
.org-table {
  margin-top: 5rem;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
}

/* 재단소개 > CI */
.ci-title {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 5rem;
  text-align: center;
}
.ci-title span {
  font-weight: 500;
  color: #4568a9;
}
.ci-text {
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
}
.ci-wrap__bottom {
  display: flex;
  margin-top: 5rem;
  margin-left: -4rem;
  margin-right: -4rem;
}
.ci-wrap__bottom > div {
  padding: 0 4rem;
  flex: 1;
}
.ci-wrap__bottom img {
  max-width: 100%;
}
.ci-bottom__text {
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}
.ci-bottom__txt {
  margin-top: 3rem;
}
.ci-ps {
  font-size: 1.6rem;
  line-height: normal;
}

/* 재단소개 > 재단이 걸어온 길 */
.subContent__inner--history .tab-wrap {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: -40px;
}
.subContent__inner--history .history-wrap__inner {
  width: 140rem;
  margin: 0 auto;
}

.history-wrap .tab_wrap {
  position: relative;
  overflow: hidden;
  height: auto;
  overflow: visible;
}
.history-wrap .tab-title {
  display: flex;
  align-items: flex-end;
  height: 7.2rem;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 1px;
  float: left;
  text-align: left;
  cursor: pointer;
  z-index: 10;
}
.history-wrap .tab-title:nth-child(n+2) {
  margin-left: 7rem;
}
.history-wrap .tab-title__link {
  font-size: 6rem;
  font-weight: 400;
  color: #b9b9b9;
  letter-spacing: -1px;
}
.history-wrap .tab-title.on .tab-title__link {
  font-size: 7.2rem;
}
.history-tab__title {
  display: flex;
}
.history-tab__list-now.on a {
  color: #8daae0;
}
.history-tab__list-past.on a {
  color: #eda39f;
}
.history-tab__present .swiper-slide {
  width: auto;
  height: 238rem;
}
.history-tab__past .swiper-slide {
  width: auto;
  height: 208rem;
}
.history-tab__past .year-tab__list.on {
  background: #eda39f;
  border-color: #eda39f;
}
.history-tab__content > .tab_cont {
  display: none;
}
.history-tab__content > .tab_cont.on {
  display: block;
}
.history-year {
  position: relative;
  flex: none;
  width: 18.6rem;
  height: 21.6rem;
  margin-top: -1rem;
  font-size: 3.2rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 21rem;
  text-align: center;
  text-shadow: 0 0 0.5rem rgba(11, 46, 110, 0.28);
  z-index: 1;
}
.history-img {
  margin-right: 8.8rem;
}
.history-item {
  height: 100%;
  margin-top: 8.3rem;
}
.history-item__inner {
  height: 100%;
}
.history-item .history-list__wrap::before {
  background: url(../image/sub/history-line__past.png);
}
.history-item__now .history-list__wrap::before {
  background: url(../image/sub/history-line__now.png);
}
.history-item__content {
  display: flex;
  height: 100%;
}
.history-list__wrap {
  position: relative;
  max-width: 106.2rem;
  padding-top: 8rem;
  padding-left: 5.3rem;
  padding-bottom: 5.3rem;
}
.history-list__wrap::before {
  position: absolute;
  top: 0;
  left: -9.3rem;
  width: 2px;
  height: calc(100% - 8rem);
  content: "";
}
.history-list__wrap li {
  display: flex;
  align-items: flex-start;
  position: relative;
  font-size: 1.8rem;
  padding-left: 11.5rem;
}
.history-list__wrap li + li {
  margin-top: 1rem;
}
.history-list__wrap strong {
  position: absolute;
  left: 0;
  font-weight: 500;
  line-height: 3.2rem;
}
.history-list__wrap span {
  line-height: 3.2rem;
}
.history-swiper {
  overflow: visible;
  width: auto;
  height: 100%;
}
.history-swiper__present .history-year {
  background: url(../image/sub/history-bg__present.png) no-repeat;
}
.history-swiper__present .history-item__now .history-year {
  background: url(../image/sub/history-bg__now.png) no-repeat center;
  background-size: 18.6rem 21.6rem;
}
.history-swiper__present--tab .swiper-slide {
  height: 3.4rem;
}
.history-swiper__past .history-year {
  background: url(../image/sub/history-bg__past.png) no-repeat;
}
.history-swiper .history-year {
  background-size: 18.6rem 21.6rem;
}

.history-year__tab {
  display: none;
  margin-top: 20px;
}

.year-tab__ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: -0.5px;
}
.year-tab__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: calc(25% - 1px);
  height: 34px;
  margin: 0.5px;
  font-size: 14px;
  color: #b9b9b9;
  border: 1px solid #d2d5dc;
  border-radius: 2px;
  box-sizing: border-box;
}
.year-tab__list.on {
  background: #8daae0;
  border-color: #8daae0;
  box-shadow: 0.3rem 0.3rem 0.8rem rgba(0, 0, 0, 0.13);
  color: #ffffff;
}

@media (max-width: 1400px) {
  .wayAbout-info {
    padding: 2.5rem;
  }
  .wayAbout-info__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem -2rem;
  }
  .wayAbout-info__inner dl {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5rem 2rem;
  }
  .wayAbout-info__inner dl dt {
    margin-bottom: 1rem;
  }
  .wayAbout-info__inner dl + dl {
    margin-left: 0;
  }
  .wayAbout-route__inner table th, .wayAbout-route__inner table td {
    padding: 2rem 3rem;
  }
  .wayAbout-route__th {
    width: 17.5rem;
  }
  .route-way__how-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .route-way__how-item + .route-way__how-item {
    margin-top: 1.5rem;
  }
  .route-way__how-item--left {
    margin-bottom: 0.6rem;
  }
  .route-way__how-item--right {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .route-way__how-item--right * {
    display: inline-block;
    line-height: normal;
  }
  .route-way__how-item--normal {
    display: inline-block;
    width: 100%;
  }
  .route-way__how-item--normal * {
    display: inline-block;
    line-height: normal;
  }
  .route-way__how-item--ps {
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .subVisual--intro {
    background-image: url("../image/sub/img-subVisual--05_m.png");
    background-position: center 0;
  }
  .org-img img.org-img__pc {
    display: none;
  }
  .org-img img.org-img__m {
    display: block;
  }
  .ci-wrap__bottom {
    flex-direction: column;
    margin: 0;
  }
  .ci-wrap__bottom > div {
    padding: 0;
  }
  .ci-wrap__bottom .img-wrap {
    margin-top: 3rem;
    text-align: center;
  }
  .ci-text {
    font-size: 14px;
  }
  .ci-ps {
    font-size: 12px;
    line-height: 22px;
  }
  .history-list__wrap li, .wayAbout-info dt, .wayAbout-info dd, .route-way__how-tit, .route-way__how-txt, .ci-bottom__txt {
    font-size: 14px;
  }
  .route-way__txt {
    font-size: 13px;
  }
  .route-way__how-txt--next {
    margin: 0 2px;
  }
  .route-way__how-item--ps {
    font-size: 12px;
  }
  .root_daum_roughmap .wrap_map {
    height: 300px !important;
  }
  .ci-title {
    font-size: 18px;
    line-height: 28px;
  }
  .ci-title br {
    display: none;
  }
  .wrap_map {
    height: 400px !important;
  }
  .wayAbout-info__inner {
    flex-direction: column;
    margin: -0.5rem -2rem;
  }
  .wayAbout-info__inner dl {
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 2rem;
  }
  .wayAbout-info__inner dl dt {
    margin-bottom: 0;
    flex: none;
  }
  .wayAbout-route__inner table th {
    padding: 0;
  }
  .wayAbout-route__inner table th, .wayAbout-route__inner table td {
    padding: 2rem;
  }
  .wayAbout-route__th {
    width: 12rem;
  }
  .subContent__inner--history .history-wrap__inner {
    width: 100%;
  }
  .subContent__inner--history .tab-wrap {
    margin-top: -20px;
  }
  .history-wrap .tab-title {
    height: auto;
  }
  .history-wrap .tab-title.on .tab-title__link {
    font-size: 26px;
  }
  .history-wrap .tab-title .tab-title__link {
    font-size: 22px;
  }
  .history-wrap .tab-title:nth-child(2) {
    margin-left: 20px;
  }
  .history-wrap .tab_cont {
    display: none;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    box-sizing: border-box;
    overflow: visible;
  }
  .history-wrap .tab_cont.on {
    display: block;
  }
  .history-img {
    display: none;
  }
  .history-year {
    width: 100%;
    height: auto;
    background: none !important;
    font-size: 28px;
    line-height: normal;
    text-shadow: none;
  }
  .history-year__tab {
    display: block;
  }
  .history-item {
    margin-top: 30px;
  }
  .history-item__content {
    flex-direction: column;
    height: auto;
  }
  .history-list__wrap {
    margin-top: 20px;
    padding-left: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .history-list__wrap::before {
    left: 0;
    height: 100%;
    background-size: cover;
  }
  .history-list__wrap li {
    padding-left: 90px;
  }
  .history-list__wrap li + li {
    margin-top: 15px;
  }
  .history-tab__title {
    justify-content: center;
  }
  .history-swiper__present .history-year {
    color: #8daae0;
    text-align: center;
  }
  .history-swiper__past .history-year {
    color: #eda39f;
    text-align: center;
  }
}