.sch-form__btn {
  flex: none;
  width: 50px;
  background: #4568a9 url("../image/common/icon/icon-sch.png") no-repeat center center;
}

.btn-wrap {
  display: flex;
}
.btn-wrap .btn {
  width: 13.2rem;
  height: 5.4rem;
  border-radius: 0;
}
.btn-wrap .btn--width-auto {
  width: auto;
  padding: 0 2rem;
}
.btn-wrap .btn--width-260 {
  width: 26rem !important;
}
.btn-wrap .btn--height-100 {
  height: 10rem;
}
.btn-wrap--center {
  justify-content: center;
}
.btn-wrap--center .btn {
  width: 13.2rem;
}
.btn-wrap--center .btn + .btn {
  margin-left: 0.5rem;
}
.btn-wrap--absolute {
  position: absolute;
}
.btn--list {
  width: 132px;
  height: 54px;
  background-color: #4568a9;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.btn--list:hover {
  background-color: #4568a9;
  color: #fff;
}
.btn--download {
  width: 117px;
  height: 40px;
  padding-left: 30px;
  color: #4568a9;
  font-size: 16px;
  border: 1px solid #4568a9;
  background: #fff url(../image/common/icon/icon-download.png) no-repeat 20px center;
}
.btn--border-color-gray {
  width: 14.4rem;
  height: 5.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid #d2d5dc;
  color: #000000;
}
.btn--radius {
  width: 19rem;
  height: 5.6rem;
  border-radius: 2rem 0 2rem 0;
}
.btn--color-aliceblue {
  background: #8daae0;
  color: #ffffff;
  font-size: 1.8rem;
}
.btn-ps {
  font-size: 1.6rem;
  font-weight: 100;
}

@media (max-width: 1024px) {
  .btn--download {
    width: 11.7rem;
    height: 4rem;
    padding-left: 3rem;
    font-size: 1.6rem;
    background-size: 1.8rem 1.8rem;
    background-position: 2rem center;
  }
  .btn--list {
    width: 13.2rem;
    height: 5.4rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .btn-wrap .btn {
    font-size: 14px;
  }
}