/* button */
.ui-button {
  width: 100%;
  height: 20rem;
  font-size: 7rem;
  font-weight: 500;
  color: #000000;
  border-radius: 1rem;
  line-height: 20.1rem;
}
.ui-button:disabled {
  background-color: #f2f2f2 !important;
  color: #b2b2b2 !important;
}
.ui-button + .ui-button {
  margin-left: 2rem;
}
.ui-buttons {
  display: flex;
}
.ui-buttons__half {
  flex-wrap: wrap;
  margin: -1rem;
}
.ui-buttons__half .ui-button {
  max-width: calc(50% - 2rem);
  margin: 1rem;
}
.ui-buttons__thirds {
  flex-wrap: wrap;
  margin: -1rem;
}
.ui-buttons__thirds .ui-button {
  max-width: calc(33.3333333333% - 2rem);
  margin: 1rem;
}
.ui-buttons__column {
  flex-direction: column;
}
.ui-buttons__column .ui-button + .ui-button {
  margin-top: 2rem;
  margin-left: 0rem;
}
.ui-buttons--faq .ui-button.is-active {
  background-color: #4b62c3;
  color: #fff;
}
.ui-button__page--back {
  width: 12.9rem;
  height: 100%;
  background-image: url("../image/common/icon/icon_arrowBack.png");
  background-size: 5.9rem 4rem;
  background-repeat: no-repeat;
  background-position: left center;
}
.ui-button__certi {
  width: 42rem;
  margin-left: 2rem;
  background: #666666;
  color: #ffffff;
  flex: none;
}
.ui-button__bg-blue {
  background: #4b62c3;
  color: #ffffff;
}
.ui-button__bg-gray {
  background: #e9ebf1;
  color: #8a90a0;
}
.ui-button__border-gray {
  border: 0.4rem solid #e9eaec;
}
.ui-button__border-blue {
  border: 0.4rem solid #4b62c3;
  background: #ffffff;
  color: #3c50a2;
}
.ui-button__width-xs {
  width: 42rem;
  flex: none;
}
.ui-button__width-s {
  width: 44rem;
  flex: none;
}
.ui-button__width-m {
  width: 66rem;
  flex: none;
}
.ui-button__width-auto {
  width: auto;
  padding: 0 4.8rem;
}
.ui-button__width-280 {
  width: 28rem;
}
.ui-button__height-s {
  height: 12.5rem;
  font-size: 6rem;
  line-height: 12.6rem;
}
.ui-button__height-m {
  height: 15rem;
  font-size: 6rem;
  line-height: 15.1rem;
}
.ui-button__height-l {
  height: 16rem;
  line-height: 16.1rem;
  font-size: 6rem;
}
.ui-button__height-135 {
  height: 13.5rem;
  line-height: 13.6rem;
}
.ui-button__font-xxs {
  font-size: 4.6rem;
}
.ui-button__font-xs {
  font-size: 5.5rem;
}
.ui-button__font-s {
  font-size: 6rem;
}
.ui-button__color-gray {
  color: #777777;
}
.ui-button__radius-s {
  border-radius: 1rem;
}
.ui-button-modify {
  position: relative;
  font-size: 4.8rem;
  color: #9196a5;
}
.ui-button__icon::before {
  display: inline-block;
  margin-right: 4.5rem;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  content: "";
}
.ui-button__icon-male::before {
  width: 8.4rem;
  height: 9.5rem;
  background-image: url(../image/sub/icon/icon-male.png);
}
.ui-button__icon-female::before {
  width: 8.4rem;
  height: 9.2rem;
  background-image: url(../image/sub/icon/icon-female.png);
}
.ui-button__icon-calendar::before {
  width: 6.6rem;
  height: 6.5rem;
  margin-top: -1rem;
  background-image: url(../image/sub/icon/icon-calendar.png);
}
.ui-button__icon-clock::before {
  width: 6.5rem;
  height: 6.5rem;
  margin-top: -1rem;
  background-image: url(../image/sub/icon/icon-clock.png);
}
.ui-button__icon-hospital::before {
  width: 7.9rem;
  height: 7.6rem;
  margin-top: -1rem;
  background-image: url(../image/sub/icon/icon-hospital.png);
}
.ui-button__icon-home::before {
  width: 6.6rem;
  height: 6.6rem;
  margin-top: -1rem;
  background-image: url(../image/sub/icon/icon-home.png);
}
.ui-button__icon-left {
  line-height: 100%;
}
.ui-button__icon-left::before {
  width: 2.9rem;
  height: 5.3rem;
  margin: 0;
  background-image: url(../image/sub/icon/icon-right.png);
  transform: rotate(180deg);
}
.ui-button__icon-right {
  line-height: 100%;
}
.ui-button__icon-right::before {
  width: 2.9rem;
  height: 5.3rem;
  margin: 0;
  background-image: url(../image/sub/icon/icon-right.png);
}
.ui-button__icon-payAll::before {
  width: 7.2rem;
  height: 7.3rem;
  margin-right: 5.5rem;
  background-image: url(../image/sub/icon/icon-pay__all.png);
}
.ui-button__icon-paySep::before {
  width: 6.6rem;
  height: 6.6rem;
  margin-right: 5.5rem;
  background-image: url(../image/sub/icon/icon-pay__sep.png);
}
.ui-button__left {
  padding: 0 4rem;
  text-align: left;
}
.ui-button__check {
  border-radius: 1.5rem;
}
.ui-button__check.is-active {
  font-weight: 500;
  color: #3c50a2;
  border-color: #4b62c3;
  background: url(../image/common/icon/icon-check__blue.png) no-repeat right 5.8rem center;
  background-size: 4.5rem 3.1rem;
  box-shadow: 1rem 1rem 3.3rem rgba(0, 0, 0, 0.13);
}
.ui-button__check--multi.is-active {
  font-weight: 500;
  color: #3c50a2;
  border-color: #4b62c3;
  background: url(../image/common/icon/icon-check__blue.png) no-repeat right 5.8rem center;
  background-size: 4.5rem 3.1rem;
  box-shadow: 1rem 1rem 3.3rem rgba(0, 0, 0, 0.13);
}
.ui-button__click.is-active {
  font-weight: 500;
  color: #3c50a2;
  border-color: #4b62c3;
  box-shadow: 1rem 1rem 3.3rem rgba(0, 0, 0, 0.13);
}
.ui-button__clickFull {
  border-radius: 3rem;
}
.ui-button__clickFull.is-active {
  color: #fff;
  background-color: #4b62c3;
}
.ui-button__badge {
  padding: 1.7rem 2.8rem;
  font-size: 4rem;
  font-weight: 500;
  background: #4b62c3;
  color: #ffffff;
  border-radius: 3.5rem;
  line-height: 100%;
}
.ui-button__line-height--n {
  line-height: normal;
}

.button-joinSocial {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  font-size: 6rem;
  color: #000000;
  background-repeat: no-repeat;
  background-position: left 9.2rem center;
  border: 0.3rem solid;
}
.button-joinSocial__naver {
  border-color: #06be34;
  background-image: url(../image/common/icon-naver__colored.png);
  background-size: 5.6rem 5.1rem;
}
.button-joinSocial__google {
  border-color: #dc4e41;
  background-image: url(../image/common/icon-google__colored.png);
  background-size: 5.3rem 5.5rem;
}
.button-joinSocial__kakao {
  border-color: #fae100;
  background-image: url(../image/common/icon-kakao.png);
  background-size: 8.5rem 7.7rem;
}
.button-kakao {
  width: 100%;
  height: 20rem;
  font-size: 6rem;
  font-weight: 500;
  background: #fae100 url(../image/common/icon-kakao.png) no-repeat left 7rem center;
  background-size: 9.9rem 9.1rem;
  border-radius: 2rem;
  color: #000000;
}
.button-naver::before {
  display: inline-block;
  width: 5.6rem;
  height: 5.1rem;
  margin-right: 4rem;
  background: url(../image/common/icon-naver__colored.png);
  background-size: 5.6rem 5.1rem;
  vertical-align: middle;
  content: "";
}
.button-google::before {
  display: inline-block;
  flex: none;
  width: 5.3rem;
  height: 5.5rem;
  margin-right: 4rem;
  background: url(../image/common/icon-google__colored.png);
  background-size: 5.3rem 5.5rem;
  vertical-align: middle;
  content: "";
}
.button-plus-card {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15rem;
  font-size: 4.8rem;
  color: #8a90a0;
  background: #e9ebf1;
  border-radius: 1rem;
  line-height: 15.1rem;
}
.button-plus-card i {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  background: url(../image/common/icon/icon-plus__blue.png) no-repeat center;
  background-size: cover;
}
.button-more {
  padding: 3rem 4rem;
  font-size: 5rem;
  color: #9196a5;
  background: #eff0f5;
  border-radius: 2rem;
}

.page-bottom button {
  border-radius: 2rem;
}

@media (max-width: 1024px) {
  .btn--download {
    width: 11.7rem;
    height: 4rem;
    padding-left: 3rem;
    font-size: 1.6rem;
    background-size: 1.8rem 1.8rem;
    background-position: 2rem center;
  }
  .btn--list {
    width: 13.2rem;
    height: 5.4rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .btn-wrap .btn {
    font-size: 14px;
  }
}