.ui-button--icon::after {
  display: inline-block;
  content: "";
}

.button-plus {
  width: 3.4rem;
  height: 3.4rem;
  background: url(../image/common/icon/icon-plus.png);
  background-size: 3.4rem;
}

@media (max-width: 1024px) {
  .btn--download {
    width: 11.7rem;
    height: 4rem;
    padding-left: 3rem;
    font-size: 1.6rem;
    background-size: 1.8rem 1.8rem;
    background-position: 2rem center;
  }
  .btn--list {
    width: 13.2rem;
    height: 5.4rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .btn-wrap .btn {
    font-size: 14px;
  }
}