@charset "UTF-8";
.container__sub {
  padding: 0 5rem 10rem 5rem;
}
.container__sub--p-0 {
  padding: 0;
}
.container__sub--pb-0 {
  padding-bottom: 0;
}
.container-core {
  /* 이전 다음 버튼 겹침?? */
}
.container-core__flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sub {
  /** sub-title */
  /* sub-item */
  /* sub-list */
}
.sub-title {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
}
.sub-title2 {
  font-size: 6.6rem;
  line-height: 10.2rem;
  text-align: center;
}
.sub-title65 {
  font-size: 6.5rem;
  line-height: 9rem;
  text-align: center;
}
.sub-title3 {
  margin-bottom: 4rem;
  font-size: 5.5rem;
}
.sub-title4 {
  font-size: 4.6rem;
}
.sub-title__underline {
  position: relative;
  padding-bottom: 3.6rem;
  margin-bottom: 7rem;
  font-size: 6.4rem;
  font-weight: 600;
}
.sub-title__underline::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4rem;
  background: #000000;
  content: "";
}
.sub-text {
  font-size: 6rem;
  line-height: 10rem;
}
.sub-item {
  padding: 0 5rem;
}
.sub-item + .sub-item {
  margin-top: 7rem;
}
.sub-item__title {
  margin-bottom: 6rem;
  font-size: 6rem;
  font-weight: 600;
}
.sub-item__title--des {
  margin-left: 1rem;
  font-size: 6rem;
}
.sub-item__title--subs {
  display: flex;
  justify-content: space-between;
  font-size: 5.4rem;
  font-weight: 600;
}
.sub-item__title--flex {
  display: flex;
  align-items: center;
}
.sub-item__gray {
  margin-bottom: 34.8rem;
  padding: 10rem 5rem;
  background: #f6f8fb;
}
.sub-item__blue {
  padding: 12rem 8rem;
  background-color: #4b62c3;
}
.sub-item__box {
  position: relative;
}
.sub-item__box--gray {
  padding: 8rem;
  background: #f3f5fb;
}
.sub-item__box--border {
  padding: 8rem;
  border: 1px solid #d8dce2;
  border-radius: 3rem;
}
.sub-item__box--flex {
  display: flex;
  align-items: center;
}
.sub-item__btn--view {
  font-size: 4.8rem;
  color: #9196a5;
}
.sub-dl {
  display: flex;
}
.sub-dl + .sub-dl {
  margin-top: 4rem;
}
.sub-dl__center {
  align-items: center;
}
.sub-dt, .sub-dd {
  font-size: 5.6rem;
  letter-spacing: -1px;
}
.sub-dt *:not(button):not(.des-text2), .sub-dd *:not(button):not(.des-text2) {
  font-size: 5.6rem;
  letter-spacing: -1px;
}
.sub-dt {
  flex: none;
  color: #575c62;
}
.sub-dt__width {
  flex: none;
}
.sub-dd {
  flex: 1;
}
.sub-dd__right {
  text-align: right;
}

.page-bottom {
  margin-top: auto;
}
.page-bottom__inner {
  margin-top: 10rem;
}
.page-bottom__padding {
  padding: 0 5rem 10rem 5rem;
}

/* list */
.ui-list-dot li {
  position: relative;
}
.ui-list-dashed li {
  position: relative;
  padding-left: 2.7rem;
  line-height: 7rem;
}
.ui-list-dashed li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "-";
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  font-size: 1.5em;
  text-align: center;
  border-radius: 2rem;
  background: #f3f5fb;
}
.star-rating input {
  display: none;
}
.star-rating input:checked ~ label {
  background: url(../image/common/icon/icon-straRating__on.png);
  background-size: 10.3rem 9.8rem;
}
.star-rating label {
  width: 10.3rem;
  height: 9.8rem;
  margin: 0 4rem;
  background: url(../image/common/icon/icon-straRating.png);
  background-size: 10.3rem 9.8rem;
  cursor: pointer;
}

.text-ex {
  margin-top: 7rem;
  font-size: 4.6rem;
  color: #9196a5;
}
.text-ex--small {
  font-size: 4.8rem;
  line-height: 1.5;
}

.ui-required {
  color: #DD5458;
  margin-left: 1rem;
}

.ui-txt--blue {
  color: #4b62c3;
  margin-left: 1rem;
}

.des-text__inner {
  padding: 3rem 3rem;
  font-size: 4.2rem;
  line-height: 8rem;
  color: #9196a5;
  background: #f3f5fb;
  border-radius: 2rem;
}
.des-text2 {
  font-size: 4.4rem;
  color: #575c62;
}

.exp-box + .exp-box {
  margin-top: 5rem;
}
.exp-title {
  font-size: 5rem;
  font-weight: 500;
}
.exp-text {
  font-size: 5rem;
  line-height: 8rem;
  word-break: keep-all;
}

.line-gray__xsmall {
  width: calc(100% + 10rem);
  margin-left: -5rem;
  margin-right: -5rem;
  height: 0.5rem;
}
.line-gray__small {
  width: calc(100% + 10rem);
  margin-left: -5rem;
  margin-right: -5rem;
  height: 1rem;
}
.line-gray__large {
  width: calc(100% + 10rem);
  margin-left: -5rem;
  margin-right: -5rem;
}

.care-date__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.care-date__list + .care-date__list {
  margin-top: 5rem;
}
.care-date__title, .care-date__text {
  font-size: 5.4rem;
}
.care-date__title {
  width: 50%;
  color: #575c62;
  flex: none;
}
.care-date__title--width-418 {
  width: 41.8rem;
}
.care-date__text {
  width: 50%;
}
.care-date__button {
  margin-left: auto;
  flex: none;
}

.total-cost__list {
  display: flex;
  align-items: center;
}
.total-cost__title {
  font-size: 5.5rem;
}
.total-cost__text {
  flex: 1;
  text-align: right;
  font-size: 7rem;
  font-weight: 600;
}
.total-cost__box--inner {
  margin-top: 8rem;
  padding-top: 8rem;
  border-top: 0.3rem solid #dfe0e2;
}

.date-box {
  padding: 5rem;
}

.js-datepicker-range .ui-button {
  font-size: 4.6rem;
}

.acordion-notice__btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 8.5rem 6rem;
  padding-right: 16rem;
  font-size: 5.6rem;
  font-weight: 600;
  color: #222;
  background: url("../image/sub/icon/icon-down.png") no-repeat 95% center;
  background-size: 5.3rem 2.9rem;
  border-bottom: 1px solid #e9eaec;
  line-height: 1.2;
  text-align: left;
}
.acordion-notice__btn.is-click {
  background: url("../image/sub/icon/icon-up--blue.png") no-repeat 95% center;
  background-size: 5.3rem 2.9rem;
}
.acordion-notice__view {
  position: relative;
  display: none;
  padding: 7.5rem 6rem;
  font-size: 4.8rem;
  font-weight: 500;
  color: #222;
  line-height: 1.5;
  border-bottom: 1px solid #e9eaec;
  background-color: #f6f8fb;
}
.acordion-notice--faq .acordion-notice__btn {
  padding-left: 14rem;
}
.acordion-notice--faq .acordion-notice__btn::before {
  position: absolute;
  top: 8rem;
  left: 6rem;
  margin-right: 4.5rem;
  font-size: 5.6rem;
  font-weight: 600;
  color: #4b62c3;
  content: "Q";
}
.acordion-notice--faq .acordion-notice__btn.is-click + .acordion-notice__view::before {
  top: 6.5rem;
  transition: all 0.4s ease-in-out;
}
.acordion-notice--faq .acordion-notice__view {
  padding-left: 14rem;
}
.acordion-notice--faq .acordion-notice__view::before {
  position: absolute;
  top: 0;
  left: 6rem;
  margin-right: 4.5rem;
  font-size: 5.6rem;
  font-weight: 600;
  color: #f46b76;
  transition: all 0.4s ease-in-out;
  content: "A";
}

.normal-text {
  word-break: keep-all;
  line-height: 7.5rem;
  letter-spacing: -1.5px;
}

/* 보미쌤 평가하기 */
.hidden {
  position: absolute;
  left: -99999999px;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}

.vomi-range {
  width: 100%;
  height: 4rem;
  background: #f3f5fb;
  border: 0;
  border-radius: 2rem;
}
.vomi-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 7.5rem; /* 슬라이더 핸들 길이 */
  height: 7.5rem; /* 슬라이더 핸들 높이 */
  border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
  background: #4b62c3; /* 슬라이더 핸들 색상 */
}
.vomi-range__img {
  width: 100%;
  margin-top: 3.8rem;
}

/* 간병 기간 변경하기&간병 신청 정보 확인 팝업 */
.care-date__list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.care-date__list-wrap {
  display: flex;
  flex-wrap: wrap;
}
.care-date__list--width-100 {
  width: 100%;
}
.care-date__list--width-100 .care-date__text {
  line-height: 8.4rem;
}
.care-date__list--col {
  flex-direction: column;
}
.care-date__list--col .care-date__title, .care-date__list--col .care-date__text {
  width: 100%;
}
.care-date__list--col .care-date__text {
  margin-top: 4rem;
  padding-left: 4rem;
}
.care-date__title {
  position: relative;
  width: 50%;
  padding-left: 4rem;
  color: #575c62;
  flex: none;
}
.care-date__title::before {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background: #575c62;
  content: "";
}
.care-date__button {
  margin-left: auto;
  flex: none;
}

/* tab */
.tab-content {
  display: none;
}
.tab-content.is-active {
  display: block;
  margin-top: 6rem;
}
.tab-menu {
  display: flex;
}
.tab-menu__li {
  flex: 1;
  height: 15.4rem;
  overflow: hidden;
  border: 0.3rem solid #d5d9df;
  box-sizing: border-box;
}
.tab-menu__li:first-child {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.tab-menu__li:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.tab-menu__li.is-active {
  position: relative;
  border: 0.3rem solid #4b62c3;
}
.tab-menu__li.is-active .tab-menu__link {
  color: #3c50a2;
  background: #ffffff;
}
.tab-menu__li + .tab-menu__li {
  margin-left: -0.3rem;
}
.tab-menu__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #8a90a0;
  text-align: center;
  background: #e9ebf1;
  line-height: 15.5rem;
}

/* 부트스트랩 datepicker */
.ui-input__datepicker + .bootstrap-datetimepicker-widget table th.picker-switch {
  font-size: 7rem;
  font-weight: 500;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table th.dow {
  padding: 0;
  padding-top: 2rem;
  font-size: 5.5rem;
  line-height: 18.4rem;
  text-align: center;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table th.prev, .ui-input__datepicker + .bootstrap-datetimepicker-widget table th.picker-switch, .ui-input__datepicker + .bootstrap-datetimepicker-widget table th.next {
  height: 13.5rem;
  vertical-align: middle;
  text-align: center;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.day {
  position: relative;
  padding: 0;
  font-size: 5.5rem;
  line-height: 18.4rem;
  text-align: center;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.day:hover::before {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.day.today::before {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.day.new {
  display: none;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.day.old {
  color: #959595;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.active {
  position: relative;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.active::before {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td.active:hover::before {
  background-color: #30b59c;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td span.month {
  position: relative;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td span.month.active {
  position: relative;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td span.month.active::before {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table td span.month:hover::before {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch:hover {
  background: transparent;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table .glyphicon-chevron-left, .ui-input__datepicker + .bootstrap-datetimepicker-widget table .glyphicon-chevron-right {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 2.4rem 4.4rem;
  background-position: center;
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table .glyphicon-chevron-left {
  background-image: url(../image/common/icon/chevron-left.png);
}
.ui-input__datepicker + .bootstrap-datetimepicker-widget table .glyphicon-chevron-right {
  background-image: url(../image/common/icon/chevron-right.png);
}