.container__sub {
  padding: 0 5rem 10rem 5rem;
}
.container__sub--pb-0 {
  padding-bottom: 0;
}
.container-core__flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* sub-title */
.sub-title {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
}
.sub-title2 {
  font-size: 6.6rem;
  line-height: 10.2rem;
  text-align: center;
}
.sub-title3 {
  margin-bottom: 9rem;
  font-size: 5.5rem;
}
.sub-title__underline {
  position: relative;
  padding-bottom: 6rem;
  margin-bottom: 7rem;
  font-size: 6.4rem;
  font-weight: 600;
}
.sub-title__underline::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4rem;
  background: #000000;
  content: "";
}
.sub-text {
  font-size: 6rem;
  line-height: 10rem;
}

.page-bottom {
  margin-top: auto;
}
.page-bottom__inner {
  margin-top: 25rem;
}

/* list */
.ui-list-dot li {
  position: relative;
}
.ui-list-dashed li {
  position: relative;
  padding-left: 2.7rem;
  line-height: 7rem;
}
.ui-list-dashed li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "-";
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  font-size: 1.5em;
  text-align: center;
  border-radius: 2rem;
  background: #f3f5fb;
}
.star-rating input {
  display: none;
}
.star-rating input:checked ~ label {
  background: url(../image/common/icon/icon-straRating__on.png);
  background-size: 10.3rem 9.8rem;
}
.star-rating label {
  width: 10.3rem;
  height: 9.8rem;
  margin: 0 4rem;
  background: url(../image/common/icon/icon-straRating.png);
  background-size: 10.3rem 9.8rem;
  cursor: pointer;
}

.text-ex {
  margin-top: 4rem;
  font-size: 5.5rem;
  color: #9196a5;
}

.ui-required {
  color: #DD5458;
  margin-left: 1rem;
}

.des-text__inner {
  padding: 5rem 6rem;
  font-size: 4.8rem;
  line-height: 8rem;
  color: #9196a5;
  background: #f3f5fb;
  border-radius: 2rem;
}

.line-gray__large {
  width: calc(100% + 10rem);
  margin-left: -5rem;
  margin-right: -5rem;
}

.care-date__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.care-date__list + .care-date__list {
  margin-top: 8rem;
}
.care-date__title, .care-date__text {
  font-size: 5.4rem;
}
.care-date__title {
  width: 40rem;
  color: #575c62;
  flex: none;
}
.care-date__title--width-418 {
  width: 41.8rem;
}
.care-date__button {
  margin-left: auto;
  flex: none;
}