.subContent-wrap {
  margin-bottom: 8rem;
}

.subVisual {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 340px;
  background-repeat: no-repeat;
}
.subVisual__tit {
  display: block;
  width: 100%;
  margin-bottom: 29px;
  font-size: 54px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.subVisual__crumb {
  display: flex;
}
.subVisual__crumb li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #fff;
}
.subVisual__crumb li + li {
  background-image: url("../image/common/icon/icon-clampRight.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 7px 11px;
}
.subVisual__crumb li + li::before {
  display: inline-block;
  content: "";
}
.subVisual__crumb li:first-child {
  padding-left: 0;
}

.subContent__tit {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.subContent__tit2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.tab-wrap {
  width: 100%;
}
.tab-link {
  display: flex;
  font-size: 0;
}
.tab-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}
.tab-mobile {
  display: none;
}

.subTab {
  margin-top: -40px;
}
.subTab .tab-link a {
  height: 70px;
  border: 1px solid #9aa1ae;
  border-left: none;
  font-size: 22px;
  font-weight: 500;
  background-color: #fff;
}
.subTab .tab-link a:first-child {
  border-left: 1px solid #9aa1ae;
  border-top-left-radius: 20px;
}
.subTab .tab-link a:last-child {
  border-bottom-right-radius: 20px;
}
.subTab .tab-link a.active {
  border: 1px solid #355a9e;
  color: #fff;
  background: #4568a9 url("../image/sub/img-subTab-bg.png") no-repeat right 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.31);
}

.count-wrap {
  display: flex;
}
.count-wrap * {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.count-all > span {
  color: #4568a9;
}
.count-page {
  margin-left: 16px;
}
.count-page__each {
  color: #4568a9;
}

.board-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
  margin-bottom: -60px;
}
.board-item {
  width: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 60px;
}
.board-item__img {
  display: block;
  font-size: 0;
}
.board-item__img img {
  width: 100%;
  height: 100%;
}
.board-item__tit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 28px;
  height: 57px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  color: #000;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.board-item__date {
  display: block;
  margin-top: 23px;
  font-size: 16px;
  color: #8a8a8a;
}
.board-detail {
  border-top: 2px solid #4568a9;
}
.board-detail__tit {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
  word-break: keep-all;
  line-height: 1.3;
  text-align: center;
}
.board-detail__category {
  margin-right: 1.2rem;
  font-size: 36px;
  font-weight: 500;
  color: #4568a9;
}
.board-detail__capt {
  margin-bottom: 35px;
  text-align: center;
}
.board-detail__capt * {
  font-size: 20px;
  font-weight: 400;
}
.board-detail__capt span {
  position: relative;
  padding: 0 30px;
}
.board-detail__capt span + span::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 22px;
  background-color: #a3a3a3;
  transform: translateY(-50%);
  content: "";
}
.board-detail__info {
  display: flex;
  margin-top: 35px;
  border-top: 1px solid #d2d5dc;
}
.board-detail--qna-question {
  background: #fafcff;
}
.board-detail--qna-question .board-view__inner {
  background: #ffffff;
}
.board-detail--qna-answer {
  background: #fff8f8;
  border-top: 1px solid #ced1d8;
}
.board-detail--qna-answer .board-view__inner {
  background: #ffffff;
}
.board-detail--qna-answer .board-detail__category {
  color: #f5706a;
}
.board-detail--qna-answer .board-file__inner {
  background: transparent;
}
.board-info {
  padding: 50px;
  padding-bottom: 80px;
}
.board-info--img {
  width: 428px;
}
.board-info--txt {
  width: calc(100% - 428px);
}
.board-info--txt > p {
  line-height: 1.8;
  letter-spacing: -0.05em;
}
.board-info__img {
  display: block;
  width: 328px;
  height: auto;
}
.board-info__img img {
  max-width: 100%;
}
.board-info__dl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-size: 18px;
}
.board-info__dl dt, .board-info__dl dd {
  margin-top: 20px;
}
.board-info__dl dt {
  width: 108px;
  font-weight: 500;
}
.board-info__dl dd {
  width: calc(100% - 108px);
}
.board-view__inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid #d2d5dc;
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.board-view__inner * {
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.board-file__inner {
  margin-top: 35px;
  padding: 3rem 4rem;
  background: #fafcff;
  border-top: 1px solid #d2d5dc;
}
.board-file__inner dl {
  display: flex;
}
.board-file__inner dt, .board-file__inner dd {
  font-size: 1.8rem;
}
.board-file__inner dt {
  margin-right: 4rem;
  font-weight: 500;
  flex: none;
}
.board-file__inner .board-file__link {
  display: block;
  padding-left: 3.5rem;
  background: url(../image/common/icon/icon-download.png) no-repeat left top 0.4rem;
  background-size: 1.8rem;
  line-height: normal;
}
.board-file__inner .board-file__link + .board-file__link {
  margin-top: 1.5rem;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wrap {
  width: 100%;
  text-align: center;
}
.pagination > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border: 1px solid #d2d5dc;
  border-left: none;
}
.pagination > a:first-child {
  border-left: 1px solid #d2d5dc;
}
.pagination > a.link-move {
  border-left: 1px solid #d3d5dc;
  background-repeat: no-repeat;
  background-position: center center;
}
.pagination > a.link-first {
  margin-right: -1px;
  background-image: url("../image/common/icon/icon-moveFirst.png");
}
.pagination > a.link-first.on {
  background-image: url("../image/common/icon/icon-moveFirst--on.png");
}
.pagination > a.link-prev {
  margin-right: -1px;
  background-image: url("../image/common/icon/icon-movePrev.png");
}
.pagination > a.link-prev.on {
  background-image: url("../image/common/icon/icon-movePrev--on.png");
}
.pagination > a.link-next {
  margin-left: -1px;
  background-image: url("../image/common/icon/icon-moveNext.png");
}
.pagination > a.link-next.on {
  background-image: url("../image/common/icon/icon-moveNext--on.png");
}
.pagination > a.link-last {
  margin-left: -1px;
  background-image: url("../image/common/icon/icon-moveLast.png");
}
.pagination > a.link-last.on {
  background-image: url("../image/common/icon/icon-moveLast--on.png");
}
.pagination > a.on:not(.link-move) {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #4568a9;
}

.link-post {
  font-size: 18px;
}
.link-post > * {
  display: flex;
  padding: 25px 0;
  border-top: 1px solid #d2d5dc;
}
.link-post > *:last-child {
  border-bottom: 1px solid #d2d5dc;
}
.link-post > * a {
  width: calc(100% - 160px);
}
.link-post__prev .link-post__capt {
  background-image: url("../image/common/icon/icon-linkPrev.png");
}
.link-post__next .link-post__capt {
  background-image: url("../image/common/icon/icon-linkNext.png");
}
.link-post__capt {
  width: 160px;
  font-weight: 500;
  padding-left: 75px;
  color: #4568a9;
  background-repeat: no-repeat;
  background-position: 40px center;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
}

@media (max-width: 1400px) {
  .subContent__inner {
    padding: 0 1rem;
  }
  .board-list {
    margin-left: -3rem;
    margin-top: -3rem;
  }
  .board-item {
    width: calc(25% - 3rem);
    margin-left: 3rem;
    margin-top: 6rem;
  }
  .board-item__tit {
    font-size: 2.2rem;
  }
  .board-detail__tit {
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
    font-size: 3.6rem;
  }
  .board-detail__category {
    font-size: 3.6rem;
  }
  .board-detail__capt * {
    font-size: 2rem;
  }
  .board-detail__capt span + span::before {
    height: 2.2rem;
  }
  .board-detail__info {
    margin-top: 3.5rem;
  }
  .board-info {
    padding: 5rem;
    padding-bottom: 8rem;
  }
  .board-info--txt > p br {
    display: none;
  }
}
@media (max-width: 1024px) {
  .subVisual {
    height: 240px;
    background-size: cover;
  }
  .subVisual__crumb li {
    font-size: 1.6rem;
  }
  .subVisual__crumb li:first-child img {
    width: 1.7rem;
  }
  .subVisual__crumb li + li {
    padding-left: 3rem;
    background-position: 1.2rem center;
    background-size: 0.7rem 1.1rem;
  }
  .subVisual__tit {
    margin-bottom: 2.9rem;
    font-size: 5.4rem;
  }
  .subTab .tab-link a {
    height: 7rem;
    font-size: 2.2rem;
  }
  .subTab .tab-link a.active {
    background-size: 17.6rem 17.6rem;
  }
  .subContent__tit {
    margin-top: 8rem;
    margin-bottom: 6rem;
    font-size: 5rem;
  }
  .count-wrap * {
    font-size: 1.6rem;
  }
  .board-item {
    width: calc(33% - 3rem);
  }
  .board-item__tit {
    height: 5.7rem;
    margin-top: 2.8rem;
  }
  .board-item__date {
    margin-top: 2.3rem;
    font-size: 1.6rem;
  }
  .board-detail__info {
    flex-wrap: wrap;
  }
  .board-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5rem;
  }
  .board-info__img {
    flex: 1 1 32.8rem;
  }
  .board-info__dl {
    display: grid;
    grid-template-columns: 10.8rem calc(100% - 10.8rem);
    grid-auto-rows: minmax(3rem, auto);
    align-content: start;
    flex: 1 1 calc(100% - 35.8rem);
    margin-top: 0;
    margin-left: 3rem;
    font-size: 1.8rem;
  }
  .board-info__dl dt, .board-info__dl dd {
    margin-top: 2rem;
  }
  .board-info__dl dt {
    width: auto;
    line-height: 1.5;
  }
  .board-info__dl dd {
    width: auto;
    line-height: 1.5;
  }
  .pagination-wrap {
    margin-top: 6rem;
    margin-bottom: 12rem;
  }
  .pagination > a {
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.8rem;
  }
  .pagination > a.on:not(.link-move) {
    font-size: 1.8rem;
  }
  .pagination > a.link-first {
    background-size: 1.4rem 1.4rem;
  }
  .pagination > a.link-prev {
    background-size: 0.8rem 1.4rem;
  }
  .pagination > a.link-next {
    background-size: 0.8rem 1.4rem;
  }
  .pagination > a.link-last {
    background-size: 1.4rem 1.4rem;
  }
  .link-post {
    font-size: 1.8rem;
  }
  .link-post > * {
    padding: 2.5rem 0;
  }
  .link-post > * a {
    width: calc(100% - 16rem);
  }
  .link-post__capt {
    width: 16rem;
    padding-left: 7.5rem;
    background-position: 4rem center;
  }
}
@media (max-width: 768px) {
  .subContent__inner {
    padding: 0 15px;
  }
  .board-list {
    margin: 0 -2rem -1rem -2rem;
  }
  .board-list .board-item {
    width: 50%;
    margin: 0;
    padding: 2rem 1rem;
  }
  .board-list .board-item__tit {
    margin-top: 1.5rem;
    font-weight: 400;
  }
  .board-item {
    width: calc(50% - 3rem);
  }
  .board-item__date {
    margin-top: 10px;
  }
  .board-item__tit {
    height: 38px;
  }
  .board-detail__tit {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
  .board-detail__category {
    font-size: 20px;
    line-height: 28px;
  }
  .board-detail__capt {
    margin-left: -10px;
    margin-bottom: 20px;
  }
  .board-detail__capt * {
    font-size: 12px;
  }
  .board-detail__capt span {
    padding: 0 10px;
    font-size: 12px;
  }
  .board-detail__capt span + span::before {
    height: 12px;
  }
  .board-view__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .board-view__inner * {
    font-size: 14px;
  }
  .board-file__inner {
    margin-top: 20px;
    padding: 12px 2rem;
  }
  .board-file__inner dt {
    margin-bottom: 10px;
  }
  .board-file__inner .board-file__link {
    background-position: left top 2px;
  }
  .board-file__inner .board-file__link + .board-file__link {
    margin-top: 6px;
  }
  .board-info__dl {
    margin-left: 30px;
    margin-right: 30px;
  }
  .link-post > * a, .txt-depth--04, .link-post__capt, .board-info__dl dt, .board-info__dl dd {
    font-size: 14px;
  }
  .count-wrap * {
    font-size: 12px;
  }
  .subVisual {
    justify-content: flex-start;
    padding-top: 40px;
    height: 120px;
  }
  .subVisual__tit {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .subVisual__crumb {
    display: none;
  }
  .subTab {
    margin-top: -20px;
  }
  .subContent__tit {
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    font-size: 26px;
  }
  .tab-link {
    display: none;
  }
  .tab-mobile {
    display: block;
  }
  .tab-mobile__inner {
    display: flex;
    height: 40px;
    border: 1px solid #9aa1ae;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fefefd;
    box-sizing: border-box;
  }
  .tab-mobile__depth {
    position: relative;
    flex: 1;
  }
  .tab-mobile__depth-home {
    flex: none;
    width: 40px;
  }
  .tab-mobile__depth-home a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0;
    border-right: 1px solid #9aa1ae;
    background: url(../image/sub/icon-home.png) no-repeat center;
  }
  .tab-mobile__depth-fst {
    max-width: 115px;
    border-right: 1px solid #9aa1ae;
  }
  .tab-mobile__depth-scd {
    background: url(../image/sub/bg-tab-mobile.png) no-repeat right bottom;
  }
  .tab-mobile__depth-children {
    display: none;
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    z-index: 11;
  }
  .tab-mobile__list {
    height: 40px;
    font-size: 14px;
    border: 1px solid #9aa1ae;
    background: #ffffff;
    box-sizing: border-box;
  }
  .tab-mobile__list + .tab-mobile__list {
    margin-top: -1px;
  }
  .tab-mobile__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 9px;
  }
  .depth-selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 9px;
    font-size: 14px;
    background: url(../image/common/icon/icon-clampDown.png) no-repeat right 10px center;
  }
}
@media (max-width: 576px) {
  .board-info {
    justify-content: center;
    padding: 4rem 2rem;
  }
  .board-info__img {
    flex: none;
    width: 220px;
  }
  .board-info__dl {
    flex: 1 1 100%;
    margin-top: 2rem;
  }
  .board-file__inner dl {
    flex-direction: column;
  }
  .board-file__inner dt {
    margin-right: 0;
  }
  .link-post > * a {
    display: block;
    overflow: hidden;
    width: calc(100% - 12rem);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .link-post__capt {
    width: 12rem;
    padding-left: 5rem;
    background-position: 2rem center;
  }
}