.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-120 {
  margin-bottom: 120px;
}

.txt-depth--01 {
  font-size: 24px;
}
.txt-depth--02 {
  font-size: 22px;
}
.txt-depth--03 {
  font-size: 20px;
}
.txt-depth--04 {
  font-size: 18px;
}
.txt-depth--05 {
  font-size: 16px;
}
.txt-depth--06 {
  font-size: 14px;
}
.txt-depth--07 {
  font-size: 12px;
}

.font-weight__r {
  font-weight: 500;
}

.bg-gray {
  background-color: #f8f8f8;
}

.color-blue {
  color: #3c50a2;
}

@media (max-width: 1400px) {
  .mt-20 {
    margin-top: 2rem;
  }
  .mt-30 {
    margin-top: 3rem;
  }
  .mt-40 {
    margin-top: 4rem;
  }
  .mt-50 {
    margin-top: 5rem;
  }
  .mt-60 {
    margin-top: 6rem;
  }
  .mt-80 {
    margin-top: 8rem;
  }
  .txt-depth--01 {
    font-size: 2.4rem;
  }
  .txt-depth--02 {
    font-size: 2.2rem;
  }
  .txt-depth--03 {
    font-size: 2rem;
  }
  .txt-depth--04 {
    font-size: 1.8rem;
  }
  .txt-depth--05 {
    font-size: 1.6rem;
  }
  .txt-depth--06 {
    font-size: 1.4rem;
  }
  .txt-depth--07 {
    font-size: 1.2rem;
  }
}