.sch-wrap {
  display: flex;
  align-items: flex-end;
}
.sch-form {
  display: flex;
  height: 50px;
}
.sch-form__select {
  min-width: 130px;
  height: 100%;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d2d5dc;
  background-color: #fff;
  background-image: url("../image/common/icon/icon-clampDown.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.sch-form__label {
  display: flex;
  width: 40rem;
  font-size: 0;
}
.sch-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid #d2d5dc;
}
.sch-form__input::placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.ui-form input, .ui-form textarea {
  border: 1px solid #d8dce2;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 1.5rem;
  font-size: 5.5rem;
}
.ui-form__button {
  display: flex;
}
.ui-form__cell {
  display: flex;
  align-items: center;
  font-size: 5.5rem;
}
.ui-form__cell .ui-form {
  flex: 1;
}
.ui-form__flex--row {
  display: flex;
}
.ui-form__flex--row + .ui-form__flex--row {
  margin-top: 2rem;
}
.ui-form__flex--row .ui-form__cell + .ui-form__cell {
  margin-left: 4rem;
}
.ui-form__flex--row .ui-form__cell--s {
  font-size: 4.8rem;
}
.ui-form__flex--row .ui-form__cell--s + .ui-form__cell--s {
  margin-left: 2rem;
}
.ui-form__flex--right {
  justify-content: flex-end;
}
.ui-form__text {
  font-size: 5.5rem;
  margin-right: 6.5rem;
}
.ui-input {
  width: 100%;
  padding-left: 5.5rem;
  height: 20rem;
  font-size: 5.5rem;
  text-indent: 0;
}
.ui-input__full {
  width: 100%;
}
.ui-input__width-m {
  width: 32.2rem;
}
.ui-input__width-400 {
  width: 40rem;
}
.ui-input__width-585 {
  width: 58.5rem;
}
.ui-input__bg-gray {
  background: #f8f8f8;
}
.ui-input::placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-select {
  width: 100%;
  height: 20rem;
  padding-left: 5.5rem;
  font-size: 5.5rem;
  border: 0.3rem solid #d8dce2;
  box-sizing: border-box;
  background: url(../image/common/icon/icon-select.png) no-repeat right 5.5rem center;
  background-size: 3.9rem 2.6rem;
  border-radius: 1.5rem;
}
.ui-textarea {
  width: 100%;
  height: 15rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  resize: none;
  appearance: none;
}
.ui-textarea__height-265 {
  padding: 5.5rem;
  height: 26.5rem;
}
.ui-textarea::placeholder {
  color: #9196a5;
}
.ui-radio__inner, .ui-checkbox__inner {
  margin: -0.5rem;
}
.ui-radio__item, .ui-checkbox__item {
  display: inline-block;
}
.ui-radio-object, .ui-checkbox-object {
  position: relative;
  display: block;
  width: 6.9rem;
  height: 6.9rem;
  /* margin-top: -1px; */
  border: 1px solid #ced4db;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: no-repeat 50% 50% #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  vertical-align: top;
}
.ui-radio:focus + .ui-label .ui-checkbox-object,
.ui-radio:focus + .ui-label .ui-radio-object, .ui-checkbox:focus + .ui-label .ui-checkbox-object,
.ui-checkbox:focus + .ui-label .ui-radio-object {
  outline-width: 1px;
  outline-style: dotted;
}
.ui-radio-input, .ui-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ui-radio-input:checked + .ui-label .ui-radio-object, .ui-checkbox-input:checked + .ui-label .ui-radio-object {
  border: 5px solid #4568a9;
}
.ui-radio-block {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.ui-radio-block .ui-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-radio-block .ui-radio-object {
  display: inline-block;
}
.ui-radio-block .ui-label {
  margin: 0;
}
.ui-radio:checked + .ui-radio-object, .ui-radio:checked + .ui-label .ui-radio-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-checkbox-block {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.ui-checkbox-block .ui-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-checkbox-block .ui-checkbox-object {
  display: inline-block;
}
.ui-checkbox-block .ui-label {
  margin: 0;
}
.ui-checkbox:checked + .ui-checkbox-object, .ui-checkbox:checked + .ui-label .ui-checkbox-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-label {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: normal;
  cursor: pointer;
}
.ui-label__text {
  margin-left: 4rem;
  vertical-align: middle;
  font-size: 5rem;
}
.ui-file-input {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
.ui-file-input__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.ui-file-input__input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-indent: 0;
}
.ui-file-input__watch {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-file-input__label {
  display: inline-block;
  vertical-align: top;
  width: 13.5rem;
  height: 5rem;
  box-sizing: border-box;
  background-color: #4568a9;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 5rem;
  white-space: nowrap;
  text-align: center;
}
.ui-file-vol {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #747478;
  letter-spacing: -1px;
}
.ui-file-vol span {
  font-weight: 600;
}

.attach-file__top {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}
.attach-file__bottom {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border: 1px solid #d2d5dc;
}
.attach-file__name {
  line-height: normal;
}
.attach-file__item {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  padding: 0.2rem 0 0.2rem 2.5rem;
  font-size: 1.6rem;
  background: url(../image/common/icon/icon-file__list.png) no-repeat left center;
  background-size: 1.5rem 1.8rem;
}
.attach-file__item + .attach-file__item {
  margin-top: 1rem;
}
.attach-file__item .delete-file {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: url(../image/common/icon/icon-delete__file.png) no-repeat center;
  background-size: cover;
  flex: none;
}

.form-title {
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 500;
}
.form-item.form-item {
  margin-top: 10rem;
}