.icon, .js-datepicker-range__min, .js-datepicker-range__max {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}
.icon.arrow-fill, .arrow-fill.js-datepicker-range__min, .arrow-fill.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__bottom, .arrow-fill__bottom.js-datepicker-range__min, .arrow-fill__bottom.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__right, .arrow-fill__right.js-datepicker-range__min, .arrow-fill__right.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__white, .arrow-fill__white.js-datepicker-range__min, .arrow-fill__white.js-datepicker-range__max {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__gray, .arrow-fill__gray.js-datepicker-range__min, .arrow-fill__gray.js-datepicker-range__max {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__dgray, .arrow-fill__dgray.js-datepicker-range__min, .arrow-fill__dgray.js-datepicker-range__max {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-round, .arrow-round.js-datepicker-range__min, .arrow-round.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-back, .arrow-back.js-datepicker-range__min, .arrow-back.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-top, .arrow-top.js-datepicker-range__min, .arrow-top.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-left, .arrow-left.js-datepicker-range__min, .arrow-left.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E");
}
.icon.arrow-first, .arrow-first.js-datepicker-range__min, .arrow-first.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-last, .arrow-last.js-datepicker-range__min, .arrow-last.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  transform: rotate(180deg);
}
.icon.arrow-prev, .arrow-prev.js-datepicker-range__min, .arrow-prev.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}
.icon.arrow-next, .arrow-next.js-datepicker-range__min, .arrow-next.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  transform: rotate(180deg);
}
.icon.arrow-right, .arrow-right.js-datepicker-range__min, .arrow-right.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-more, .arrow-more.js-datepicker-range__min, .arrow-more.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.close, .close.js-datepicker-range__min, .close.js-datepicker-range__max {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}
.icon.close_big, .close_big.js-datepicker-range__min, .close_big.js-datepicker-range__max {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}
.icon.date, .js-datepicker-range__min, .js-datepicker-range__max {
  width: 7rem;
  height: 7rem;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_53)'%3E%3Cpath d='M12.7855 12H1.21446C0.545157 12 0 11.4863 0 10.8557V2.01907C0 1.38715 0.545157 0.874756 1.21446 0.874756H12.7855C13.4548 0.874756 14 1.38842 14 2.01907V10.8557C14 11.4863 13.4548 12 12.7855 12ZM1.21446 1.63763C0.991807 1.63763 0.809639 1.80928 0.809639 2.01907V10.8557C0.809639 11.0655 0.991807 11.2371 1.21446 11.2371H12.7855C13.0082 11.2371 13.1904 11.0655 13.1904 10.8557V2.01907C13.1904 1.80928 13.0082 1.63763 12.7855 1.63763H1.21446Z' fill='%23424242'/%3E%3Cpath d='M13.4602 4.30769H0.555942C0.331942 4.30769 0.151123 4.13731 0.151123 3.92625C0.151123 3.71519 0.331942 3.54482 0.555942 3.54482H13.4602C13.6842 3.54482 13.865 3.71519 13.865 3.92625C13.865 4.13731 13.6842 4.30769 13.4602 4.30769Z' fill='%23424242'/%3E%3Cpath d='M3.89573 2.51113C3.67173 2.51113 3.49091 2.34075 3.49091 2.12969V0.381437C3.49091 0.170375 3.67173 0 3.89573 0C4.11972 0 4.30054 0.170375 4.30054 0.381437V2.12969C4.30054 2.34075 4.11972 2.51113 3.89573 2.51113Z' fill='%23424242'/%3E%3Cpath d='M6.99936 2.51113C6.77536 2.51113 6.59454 2.34075 6.59454 2.12969V0.381437C6.59454 0.170375 6.77536 0 6.99936 0C7.22336 0 7.40418 0.170375 7.40418 0.381437V2.12969C7.40418 2.34075 7.22336 2.51113 6.99936 2.51113Z' fill='%23424242'/%3E%3Cpath d='M10.1029 2.51113C9.87894 2.51113 9.69812 2.34075 9.69812 2.12969V0.381437C9.69812 0.170375 9.87894 0 10.1029 0C10.3269 0 10.5078 0.170375 10.5078 0.381437V2.12969C10.5078 2.34075 10.3269 2.51113 10.1029 2.51113Z' fill='%23424242'/%3E%3Cpath d='M3.18458 5.57915H2.16309V6.45391H3.18458V5.57915Z' fill='%23424242'/%3E%3Cpath d='M5.38142 5.57915H4.35992V6.45391H5.38142V5.57915Z' fill='%23424242'/%3E%3Cpath d='M7.5782 5.57915H6.5567V6.45391H7.5782V5.57915Z' fill='%23424242'/%3E%3Cpath d='M9.77503 5.57915H8.75354V6.45391H9.77503V5.57915Z' fill='%23424242'/%3E%3Cpath d='M11.9719 5.57915H10.9504V6.45391H11.9719V5.57915Z' fill='%23424242'/%3E%3Cpath d='M3.18458 7.39098H2.16309V8.26574H3.18458V7.39098Z' fill='%23424242'/%3E%3Cpath d='M5.38142 7.39098H4.35992V8.26574H5.38142V7.39098Z' fill='%23424242'/%3E%3Cpath d='M7.5782 7.39098H6.5567V8.26574H7.5782V7.39098Z' fill='%23424242'/%3E%3Cpath d='M9.77503 7.39098H8.75354V8.26574H9.77503V7.39098Z' fill='%23424242'/%3E%3Cpath d='M11.9719 7.39098H10.9504V8.26574H11.9719V7.39098Z' fill='%23424242'/%3E%3Cpath d='M3.18458 9.20279H2.16309V10.0776H3.18458V9.20279Z' fill='%23424242'/%3E%3Cpath d='M5.38142 9.20279H4.35992V10.0776H5.38142V9.20279Z' fill='%23424242'/%3E%3Cpath d='M7.5782 9.20279H6.5567V10.0776H7.5782V9.20279Z' fill='%23424242'/%3E%3Cpath d='M9.77503 9.20279H8.75354V10.0776H9.77503V9.20279Z' fill='%23424242'/%3E%3Cpath d='M11.9719 9.20279H10.9504V10.0776H11.9719V9.20279Z' fill='%23424242'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_53'%3E%3Crect width='14' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 7rem 7rem;
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.sch-wrap {
  display: flex;
  align-items: flex-end;
}
.sch-form {
  display: flex;
  height: 50px;
}
.sch-form__label {
  display: flex;
  width: 40rem;
  font-size: 0;
}
.sch-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid #d2d5dc;
}
.sch-form__input::placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.ui-form input {
  border: 1px solid #d8dce2;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 1.5rem;
  line-height: 1.4rem;
  font-size: 5.5rem;
}
.ui-form__button {
  display: flex;
}
.ui-form__cell {
  display: flex;
  align-items: center;
  font-size: 5.5rem;
}
.ui-form__cell .ui-form {
  flex: 1;
}
.ui-form__cell--col {
  flex-direction: column;
  align-items: flex-start;
}
.ui-form__cell--col .ui-form__text {
  margin-bottom: 5rem;
  margin-right: 0;
  font-size: 5rem;
}
.ui-form__cell--col .ui-form__cell {
  font-size: 5rem;
}
.ui-form__flex--row {
  display: flex;
}
.ui-form__flex--row + .ui-form__flex--row {
  margin-top: 2rem;
}
.ui-form__flex--row .ui-form__cell + .ui-form__cell {
  margin-left: 4rem;
}
.ui-form__flex--row .ui-form__cell--margin-l {
  margin-left: 7rem !important;
}
.ui-form__flex--row .ui-form__cell--s {
  font-size: 4.8rem;
}
.ui-form__flex--row .ui-form__cell--s + .ui-form__cell--s {
  margin-left: 2rem;
}
.ui-form__flex--right {
  justify-content: flex-end;
}
.ui-form__text {
  margin-right: 10rem;
  font-size: 5.5rem;
}
.ui-form__text-cancel {
  margin-right: 16.5rem;
}
.ui-form__text--right {
  margin-right: 0;
  margin-left: 2rem;
}
.ui-input {
  width: 100%;
  padding-left: 5.5rem;
  height: 13rem;
  font-size: 5.5rem;
  text-indent: 0;
  line-height: 13.1rem;
}
.ui-input__full {
  width: 100%;
}
.ui-input__width-m {
  width: 32.2rem;
}
.ui-input__width-400 {
  width: 40rem;
}
.ui-input__width-430 {
  width: 43rem;
}
.ui-input__width-585 {
  width: 58.5rem;
}
.ui-input__height-s {
  height: 13.5rem;
}
.ui-input__height-l {
  height: 15rem;
}
.ui-input__bg-gray {
  background: #f8f8f8;
}
.ui-input::placeholder {
  font-size: 5.5rem;
  color: #9196a5;
}
.ui-input.js-datepicker-range__min, .ui-input.js-datepicker-range__max {
  font-size: 4.8rem;
}
.ui-input.js-datepicker-range__min::placeholder, .ui-input.js-datepicker-range__max::placeholder {
  font-size: 4.8rem;
}
.ui-select {
  width: 100%;
  height: 20rem;
  padding-left: 5.5rem;
  font-size: 5.5rem;
  border: 0.3rem solid #d8dce2;
  box-sizing: border-box;
  background: url(../image/common/icon/icon-select.png) no-repeat right 5.5rem center;
  background-size: 3.9rem 2.6rem;
  border-radius: 1.5rem;
  text-indent: 0;
}
.ui-select__width-200 {
  width: 20rem;
}
.ui-textarea {
  width: 100%;
  height: 15rem;
  padding: 1.5rem 2rem;
  resize: none;
  appearance: none;
  line-height: normal;
  border: 1px solid #d8dce2;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 1.5rem;
  line-height: normal;
  font-size: 5.5rem;
}
.ui-textarea__height-230 {
  height: 23rem;
}
.ui-textarea__height-265 {
  height: 26.5rem;
  padding: 6rem;
}
.ui-textarea__height-650 {
  height: 65rem;
}
.ui-textarea::placeholder {
  color: #9196a5;
}
.ui-radio__inner, .ui-checkbox__inner {
  margin: -0.5rem;
}
.ui-radio__item, .ui-checkbox__item {
  display: inline-block;
}
.ui-radio-object, .ui-checkbox-object {
  position: relative;
  display: block;
  width: 6.9rem;
  height: 6.9rem;
  /* margin-top: -1px; */
  border: 1px solid #ced4db;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: no-repeat 50% 50% #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  vertical-align: top;
}
.ui-radio:focus + .ui-label .ui-checkbox-object,
.ui-radio:focus + .ui-label .ui-radio-object, .ui-checkbox:focus + .ui-label .ui-checkbox-object,
.ui-checkbox:focus + .ui-label .ui-radio-object {
  outline-width: 1px;
  outline-style: dotted;
}
.ui-radio-input, .ui-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ui-radio-input:checked + .ui-label .ui-radio-object, .ui-checkbox-input:checked + .ui-label .ui-radio-object {
  border: 5px solid #4568a9;
}
.ui-radio-block {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.ui-radio-block .ui-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-radio-block .ui-radio-object {
  display: inline-block;
}
.ui-radio-block .ui-label {
  margin: 0;
}
.ui-radio:checked + .ui-radio-object, .ui-radio:checked + .ui-label .ui-radio-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-checkbox-block {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.ui-checkbox-block .ui-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 0;
}
.ui-checkbox-block .ui-checkbox-object {
  display: inline-block;
}
.ui-checkbox-block .ui-label {
  margin: 0;
}
.ui-checkbox:checked + .ui-checkbox-object, .ui-checkbox:checked + .ui-label .ui-checkbox-object {
  border-color: #4b62c3;
  background-color: #4b62c3;
  background-image: url("../image/common/icon/icon-check.png");
  background-size: 4.5rem 3.1rem;
}
.ui-label {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: normal;
  cursor: pointer;
}
.ui-label__text {
  margin-left: 4rem;
  vertical-align: middle;
  font-size: 5rem;
}
.ui-file-input {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
.ui-file-input__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.ui-file-input__input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-indent: 0;
}
.ui-file-input__watch {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-file-input__label {
  display: inline-block;
  vertical-align: top;
  width: 13.5rem;
  height: 5rem;
  box-sizing: border-box;
  background-color: #4568a9;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 5rem;
  white-space: nowrap;
  text-align: center;
}
.ui-file-vol {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #747478;
  letter-spacing: -1px;
}
.ui-file-vol span {
  font-weight: 600;
}

.attach-file__top {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}
.attach-file__bottom {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border: 1px solid #d2d5dc;
}
.attach-file__name {
  line-height: normal;
}

.form-title {
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 500;
}
.form-item.form-item {
  margin-top: 10rem;
}

.placeholder-black::placeholder {
  color: #000;
}

.js-datepicker-range__min, .js-datepicker-range__max {
  background-position: 90% center;
  font-size: 4.8rem;
}
.js-datepicker-range__min::placeholder, .js-datepicker-range__max::placeholder {
  font-size: 4.8rem;
}