.width-80 {
  width: 8rem;
}
.width-170 {
  width: 17rem;
}
.width-370 {
  width: 37rem;
}

.height-265 {
  height: 26.5rem;
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-10 {
  margin-left: 1rem;
}
.ml-20 {
  margin-left: 2rem;
}
.ml-30 {
  margin-left: 3rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-45 {
  margin-top: 4.5ren;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-75 {
  margin-top: 7.5rem;
}
.mt-80 {
  margin-top: 8rem;
}
.mt-90 {
  margin-top: 9rem;
}
.mt-115 {
  margin-top: 11.5rem;
}
.mt-140 {
  margin-top: 14rem;
}
.mt-150 {
  margin-top: 15rem;
}
.mb-60 {
  margin-bottom: 6rem;
}
.mb-90 {
  margin-bottom: 9rem;
}
.mb-120 {
  margin-bottom: 12rem;
}

.txt-depth--01 {
  font-size: 24px;
}
.txt-depth--02 {
  font-size: 22px;
}
.txt-depth--03 {
  font-size: 2rem;
}
.txt-depth--04 {
  font-size: 18px;
}
.txt-depth--05 {
  font-size: 16px;
}
.txt-depth--06 {
  font-size: 14px;
}
.txt-depth--07 {
  font-size: 12px;
}

.font-size__xs {
  font-size: 5rem;
}
.font-size__s {
  font-size: 5.5rem;
}
.font-size__m {
  font-size: 6rem;
}
.font-size__l {
  font-size: 6.5rem;
}
.font-weight__r {
  font-weight: 500;
}
.font-weight__m {
  font-weight: 600;
}

.bg-gray {
  background-color: #f8f8f8;
}

.color-blue {
  color: #3c50a2;
}

/* img */
.img-alert {
  width: 16.8rem;
  height: 16.8rem;
  margin: 0 auto;
  background: url(../image/common/img-alert--border.png);
  background-size: 16.8rem;
}
.img-check {
  width: 22.1rem;
  height: 22rem;
  margin: 0 auto;
  background: url(../image/common/img-check.png);
  background-size: 22.1rem 22rem;
}

.flex {
  flex: 1;
}

@media (max-width: 1400px) {
  .mt-20 {
    margin-top: 2rem;
  }
  .mt-30 {
    margin-top: 3rem;
  }
  .mt-40 {
    margin-top: 4rem;
  }
  .mt-50 {
    margin-top: 5rem;
  }
  .mt-60 {
    margin-top: 6rem;
  }
  .mt-80 {
    margin-top: 8rem;
  }
  .txt-depth--01 {
    font-size: 2.4rem;
  }
  .txt-depth--02 {
    font-size: 2.2rem;
  }
  .txt-depth--03 {
    font-size: 2rem;
  }
  .txt-depth--04 {
    font-size: 1.8rem;
  }
  .txt-depth--05 {
    font-size: 1.6rem;
  }
  .txt-depth--06 {
    font-size: 1.4rem;
  }
  .txt-depth--07 {
    font-size: 1.2rem;
  }
}