.modal {
  padding-right: 0 !important;
}
.modal-body {
  padding: 0;
}
.modal-dialog {
  justify-content: center;
}
.modal-content {
  max-width: 80%;
  width: 100%;
  padding: 0;
  border: 0;
  box-shadow: none;
  border-radius: 2rem;
}
.modal-content__email .modal-tit {
  margin-bottom: 3rem;
  font-size: 2.4rem;
}
.modal-content__email .modal-img {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}
.modal-core {
  padding: 12.5rem 0;
}
.modal-tit {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.modal-text {
  font-size: 6rem;
}
.modal-text__small {
  font-size: 5rem;
  line-height: 7rem;
}
.modal-backdrop {
  background: rgba(0, 0, 0, 0.56);
}
.modal-buttons .ui-button {
  border-radius: 0 0 2rem 2rem;
}