@charset "UTF-8";
/** 소통마당 > 공지사항 */
.board-table {
  margin-top: 3rem;
}
.board-table th {
  font-size: 1.8rem;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
}
.board-table__list table {
  table-layout: fixed;
}
.board-table__list thead tr {
  height: 6.9rem;
  background: #fafcff;
  border-top: 2px solid #4568a9;
  border-bottom: 1px solid #b5b5b5;
}
.board-table__list thead .num {
  width: 9%;
}
.board-table__list thead .category {
  width: 8.6%;
}
.board-table__list thead .addfile {
  width: 8.6%;
}
.board-table__list thead .date {
  width: 12.9%;
}
.board-table__list thead .name {
  width: 16.65%;
}
.board-table__list thead .callnum {
  width: 16.79%;
}
.board-table__list tbody td {
  height: 6.8rem;
  padding: 2rem 0;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #d2d5dc;
  box-sizing: border-box;
}
.board-table__list tbody td a {
  font-size: 1.8rem;
}
.board-table__list .td-title {
  padding-left: 4rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-table__list .td-title__inner {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}
.board-table__list .td-title .icon-secret {
  display: inline-block;
  width: 1.3rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
  background: url(../image/common/icon/icon-secret.png) no-repeat center;
  background-size: 1.3rem 2rem;
  flex: none;
}
.board-table__list .td-titlelink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-table__list .td-filelink {
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
  background: url(../image/common/icon/icon-download__table.png) no-repeat center;
  background-size: cover;
}
.board-table__list .td-process .badge-process {
  display: flex;
  -ms-display: flexbox;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: 9.2rem;
  height: 4rem;
  margin: 0 auto;
  border: 1px solid #4568a9;
  font-size: 1.6rem;
  color: #4568a9;
  box-sizing: border-box;
}
.board-table__list .td-process .badge-process__end {
  background: #4568a9;
  color: #ffffff;
}
.board-table__list .td-work {
  text-align: left;
  line-height: normal;
}
.board-table__list--press thead .num {
  width: 8.572%;
}
.board-table__list--press thead .press {
  width: 8.6%;
}
.board-table__list--press .td-titlelink {
  padding-left: 3rem;
  background: url(../image/common/icon/icon-pressLink.png) no-repeat left center;
  background-size: 1.7rem;
}
.board-table__list--qna thead .num, .board-table__list--qna thead .process, .board-table__list--qna thead .author {
  width: 8.572%;
}
.board-table__list--org thead tr {
  height: 6rem;
  border-top-width: 1px;
}
.board-table__list--org tbody td {
  height: 6rem;
  padding: 1.5rem 0;
}
.board-table__view table tbody tr:nth-child(1) {
  border-top: 2px solid #365ca3;
}
.board-table__view .ver-th {
  width: 28rem;
}
.board-table__view tr {
  border-bottom: 1px solid #cccfd6;
}
.board-table__view th, .board-table__view td {
  vertical-align: middle;
}
.board-table__view th {
  height: 8rem;
  border-right: 1px solid #cccfd6;
  background: #fafcff;
}
.board-table__view td {
  height: 8rem;
  padding: 1.5rem;
  padding-right: 0;
  text-align: left;
}
.board-table__bottom {
  position: relative;
  padding-top: 4.5rem;
}
.board-table__bottom .btn-wrap--absolute {
  top: 3rem;
  right: 0;
}
.board-table__bottom .pagination-wrap {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .board-table__list--qna thead .process {
    width: 14%;
  }
}
@media (max-width: 768px) {
  .board-table__list .board-table__inner {
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .board-table__list .board-table__inner::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    color: #ffffff;
    font-size: 2rem;
    content: "표를 밀어보세요";
    z-index: 1;
  }
  .board-table__list .board-table__inner.removeBefore::before {
    display: none;
  }
  .board-table__list table {
    min-width: 76.8rem;
  }
  .board-table__list thead tr {
    height: 5.9rem;
  }
  .board-table__list thead .category {
    width: 12%;
  }
  .board-table__list thead .date {
    width: 16%;
  }
  .board-table__list tbody td {
    height: 5.8rem;
    padding: 1rem 0;
    font-size: 14px;
  }
  .board-table__list tbody td a {
    font-size: 14px;
  }
  .board-table__list th, .board-table__list td {
    padding: 1rem 0;
    font-size: 14px;
  }
  .board-table__list--press thead .press {
    width: 12%;
  }
  .board-table__list--qna thead .num, .board-table__list--qna thead .author {
    width: 10%;
  }
  .board-table__view th {
    padding: 7px;
  }
  .board-table__view td {
    padding: 7px;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .board-table__view.ver table {
    table-layout: fixed;
  }
  .board-table__view .ver-th {
    width: 30%;
  }
}