@import './helper/mixin','responsive';

#skipNavigation {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;   
    a {
        display: block;
        left: -9000px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 500;
        background-color: #fff;
        &:hover,&:focus,&:active {
            position: Absolute;
            padding: 0.2rem 0;
            left: 0;
            color: #000;
            font-size: 2rem;
            z-index: 500;
            border: 1px solid #000;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

/** header */
.header{
    &__inner{
        @include d-flex;
        height: 24rem;
        padding: 0 5rem;
    }
    &-logo{
        display: flex;
        align-items: center;
        &__inner{
            margin-right: 5rem;
        }
        &__link{
            display: block;
            width: 14.1rem;
            height: 11.2rem;
            background: url(../image/common/logo.png) no-repeat center;
            background-size: cover;
        }
    }
    &-user{
        &__inner{
            font-size: 5.2rem;
        }
        .user-name{
            font : {
                size: 6.4rem;
                weight:600;
            }
        }
    }
    &-left, &-right{
        display: flex;
        align-items: center;
    }
    &-right{
        margin-left: auto;
    }
    &-alarm{
        &__button{
            width:6.9rem;
            height:8.2rem;
            background: url(../image/common/icon-alarm.png) no-repeat center;
            background-size: 6.9rem 8.2rem;
        }
    }
    &-hamberger{
        margin-left: 9rem;
        &__button{
            width:7.8rem;
            height:6.8rem;
            background: url(../image/common/icon-hamberger.png);
            background-size: 7.8rem 6.8rem;
        }
    }
}