@import './helper/index';

#skipNavigation {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;   
    a {
        display: block;
        left: -9000px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 500;
        background-color: #fff;
        &:hover,&:focus,&:active {
            position: Absolute;
            padding: 0.2rem 0;
            left: 0;
            color: #000;
            font-size: 2rem;
            z-index: 500;
            border: 1px solid #000;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

/* 공통 */ 
html, body, .wrap{
    height:100%;
}
.wrap{
    display: flex;
    flex-direction: column
}

/** header */
.header{
    &__inner{
        @include d-flex;
        height: 24rem;
        padding: 0 5rem;
    }
    &-logo{
        display: flex;
        align-items: center;
        &__inner{
            margin-right: 5rem;
        }
        &__link{
            display: block;
            width: 14.1rem;
            height: 11.2rem;
            background: url(../image/common/logo.png) no-repeat center;
            background-size: cover;
        }
    }
    &-user{
        &__inner{
            font-size: 5.2rem;
        }
        .user-name{
            font : {
                size: 6.4rem;
                weight:600;
            }
        }
    }
    &-left, &-right{
        display: flex;
        align-items: center;
    }
    &-right{
        margin-left: auto;
    }
    &-alarm{
        &__button{
            width:6.9rem;
            height:8.2rem;
            background: url(../image/common/icon-alarm.png) no-repeat center;
            background-size: 6.9rem 8.2rem;
        }
    }
    &-hamberger{
        margin-left: 9rem;
        &__button{
            width:7.8rem;
            height:6.8rem;
            background: url(../image/common/icon-hamberger.png);
            background-size: 7.8rem 6.8rem;
        }
    }
    &-title{
        &__inner{
            display: flex;
            align-items: center;
            height:100%;
            font: {
                size:6.4rem;
                weight:600;
            };
        }
    }
}
.page-back{
    &__inner{
        height:100%;
    }
}

.container{
    flex: 1;
    &__inner{
        display: flex;
        flex-direction: column;
        height:100%;
    }
    &-core{
        height: 100%;
    }
}

/** quick-menu */ 
.quick-menu{
    position: fixed;
    //bottom: -32.6rem;
    bottom: 0;
    width:100%;
    margin-top: auto;
    transition:all .1s;
    z-index: 2;
    &.is-show{
        bottom: 0;
        transition:all .1s;
    }
    &.is-fix{
        bottom: 0;
        transition:all .1s;
    }
    &__inner{
        display: flex;
        height: 32.6rem;
        margin-top: 13rem;
        background: #ffffff;
        border-radius: 6rem 6rem 0 0;
        box-shadow: 1.2rem 1.2rem 5.4rem rgba(0,0,0,0.08);
    }
    &__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex:1;
        font : {
            size: 4.8rem;
            weight:500;
        }
        color:#76798e;
        background: no-repeat ;
        i{
            display: block;
            width: 100%;
            height: 11.5rem;
            background: no-repeat center;
            transition: all .2s;
        }
        &--enroll{
            i{
                background-image: url(../image/common/icon-quickmenu01.png);
                background-size: 9.6rem 8.1rem;
            }
        }
        &--pay{
            i{
                background-image: url(../image/common/icon-quickmenu02.png);
                background-size: 9.7rem 6.1rem;
            }
        }
        &--customer{
            i{
                background-image: url(../image/common/icon-quickmenu03.png);
                background-size: 9.1rem 7.3rem;
            }
        }
        &--my{
            i{
                background-image: url(../image/common/icon-quickmenu04.png);
                background-size: 8.6rem 8.9rem;
            }
        }
        &-text{
            margin-top: 3rem;
            font : {
                size: 4.8rem;
                weight:500;
            }
            line-height: 100%;
        }
        &.is-active{
            // i{
            //     animation: rotateIcon .2s linear;
            // }
            .quick-menu__button{
                &-text{
                    color:#3c50a2;
                    font-weight: 600;
                }
            }
            &.quick-menu__button{
                &-text{
                    color:#3c50a2;
                    font-weight: 600;
                }

                &--enroll{
                    i{
                        background-image: url(../image/common/icon-quickmenu01__on.png);
                        background-size: 9.6rem 8.1rem;
                       
                    }
                }
                &--pay{
                    i{
                        background-image: url(../image/common/icon-quickmenu02__on.png);
                        background-size: 9.7rem 6.1rem;
                    }
                }
                &--customer{
                    i{
                        background-image: url(../image/common/icon-quickmenu03__on.png);
                        background-size: 9.1rem 7.3rem;
                    }
                }
                &--my{
                    i{
                        background-image: url(../image/common/icon-quickmenu04__on.png);
                        background-size: 8.6rem 8.9rem;
                    }
                }
            }
            
        }
    }
}

.line-gray{
    width:100%;
    height:3rem;
    background: #f2f3f7;
}


/* footer */ 
.footer{
    &__inner{
        margin-top: 45.5rem;
    }
}