@import './helper/index';



.enroll{
    &-title{
        margin-bottom: 7rem;
        font : {
            size: 6rem;
            weight:600;
        }
        &__wrap{
            &--flex{
                display: flex;
                margin-bottom: 7rem;
                .enroll-title{
                    margin-bottom: 0;
                }
            }    
        }
        &__sub{
            margin-bottom: 5rem;
            font : {
                size: 5.5rem;
                weight:500;
            }
            .ui-required{
                font-size: 5.5rem;
            }
        }
        &__des{
            font-size: 6rem;
            margin-left: 1rem;
        }
        .ui-required{
            color:#DD5458;
            margin-left: 1rem;
        }
        &+.enroll-box__sub{
            margin-top: 10rem;
        }
        
    }
    &-box{
        &:nth-child(1){
            margin-top: 9rem;
        }
        &+&{
            margin-top: 13rem;
        }
        &__sub{
            &+&{
                margin-top: 8rem;
            }
        }
    }
}

.hospital{
    &-list{
        &__inner{
            padding: 7rem 5rem;
            background: #f6f8fb;
            border:.2rem solid #e9eaec;
        }
        &__item{
            display: flex;
            align-items: flex-start;
            padding-left: 8.5rem;
            font-size: 5.6rem;
            &+&{
                margin-top: 7rem;
            }
            .ui-button__badge{
                flex:none;
                margin-top: .7rem;
            }
            &.is-active{
                background: url(../image/common/icon/icon-check__blue.png) no-repeat left center;
                background-size: 4.5rem 3.1rem;
                .hospital-list__text{
                    color:#3c50a2;
                    font-weight: 500;
                }
            }
        }
        &__text{
            flex:1;
            line-height: 8rem;
        }
    }
}

.care{
    &-period{
        &__text{
            @include d-flex-center;
            width:100%;
            min-height: 25.6rem;
            padding:2rem 0;
            border: .3rem dashed #d8dce2;
            border-radius: 1rem;
            font-size: 5.5rem;
            color:#9196a5;
            text-align: center;
            line-height: 10rem;
            &.is-inputed{
                flex-direction: column;
                color:#3c50a2;
                border: .3rem solid #4b62c3;
                box-shadow: 1rem 1rem 3.3rem rgba($color: #000000, $alpha: 0.13);
            }
            &--inner{
                padding: 2.5rem 0;
            }
        }
        
        &__dl{
            display: flex;
            &+&{
                margin-top: 4.5rem;
            }
        }
        &__dt{
            width: 26.5rem;
            flex:none;
        }
    }
    &-cost{
        &__box{
            padding: 13rem 0;
            &.top-image{
                .img-wrap{
                    margin-top: -4.2rem;
                    margin-bottom: 8rem;
                }
            }
        }
        &__text{
            font-size: 5rem;
            line-height: 7rem;
        }
        &__name{
            font : {
                size: 6.5rem;
                weight:500;
            }
            line-height: 7rem;
        }
    }
    &-enroll{
        &-info{
            //margin: 10rem 0;
            &__margin{
                &-l{
                    margin: 10rem 0;
                }
            }
            &__list{
                display: flex;
                align-items: center;
                &+&{
                    margin-top: 5.5rem;
                }
            }
            &__title, &__text{
                font-size: 5.5rem;
            }
            &__title{
                color:#575c62;
                flex: none;
                line-height: 7rem;
                &--des{
                    font-size: 4.4rem;
                }
                &--width{
                    &-505{
                        width: 40.5rem;
                    }
                }
            }
            &__text{
                flex: 1;
                text-align: right;
                font-weight: 500;
                .ui-form__flex--row{
                    justify-content: flex-end;
                }
            }
        }
    }
    &EnrollEnd{
        &-top{
            .img-wrap{
                margin-top: 6.6rem;
                margin-bottom: 10rem;
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        
    }
}


