@import './helper/mixin', './helper/animation';

.container{
    &-login{
        background: url(../image/common/bg-login.jpg);
        background-size: cover;
    }
}

.login{
    &-first{
        height:100%;
        padding: 27.5rem 5rem 5rem;
        &__title{
            font-size: 13rem;
            text-align: center;
            line-height: 18.6rem;
        }
    }    
}
