@import './helper/mixin';



// .container{
//     &-main{
//         margin-bottom: 32.5rem;
//     }
//     &-core{
//         height: 120rem;
//     }
// }

/* 현재 이용중인 간병 서비스 */ 
.care-service{
    &__inner{
        position: relative;
        // height: 92rem;
        height: auto;
        padding: 9rem 5rem;
        background: #4b62c3;
    }
    &__text{
        &1{
            margin-top: 9rem;
            color:#ffffff;
            font-size: 7rem;
            text-align: center
        }
        &2{
            margin-top: 5rem;
            color:#b8bfe7;
            font-size: 4.4rem;
            text-align: center;
        }
    }
    &__buttons{
        display: flex;
        width: 100%;
        margin-top: 13rem;
        background: #ffffff;
        border-radius: 2rem;
        box-sizing: border-box;
        box-shadow: 2rem 2rem 4rem rgba(84,93,131,.35);
    }
    &__button{
        height: 20rem;
        flex:1;
        font : {
            size: 7rem;
            weight:600;
        }
        color:#3c50a2;
        box-shadow: 2rem 2rem 4rem rgba(1,10,46,.15);
    }
    
    &-icon{
        &__list{
            display: flex;
            justify-content: center;
            margin-top: 7rem;
        }
        width: 25.1rem;
        height: 25.1rem;
        margin: 0 2.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        &:nth-child(1){
            background-image: url(../image/main/icon-care-service01.png);
        }
        &:nth-child(2){
            background-image: url(../image/main/icon-care-service02.png);
        }
        &:nth-child(3){
            background-image: url(../image/main/icon-care-service03.png);
        }
    }
}


/* 동영상 콘텐츠 영역 */ 
.video-area{
    &__inner{
        height: 80rem;
        margin: 13rem 5rem 0 5rem;
        background: #4b62c3;
        border-radius: 3rem;
    }
}

/* 컨텐츠 영역 */ 
.look-service{
    &__inner{
        margin: 14rem 5rem 0 5rem;
        height: 75.5rem;
        border-radius: 3rem;
    }
    .swiper{
        &-pagination-fraction{
            display: inline-block;
            right:6rem;
            bottom: 4.5rem;
            left:auto;
            width:12rem;
            padding:  1.35rem 0;
            background: rgba(0,0,0,0.3);
            font-size: 3rem;
            border-radius: 3.6rem;
            line-height: 100%;
            color:#ffffff;
            span{
                font-size: 3rem;
                line-height: 100%;
            }
        }
    }
    &__vip{
        height: 100%;
        &__inner{
            height: 100%;
            padding: 8rem 9rem;
            background: #e3e8fe url(../image/main/bg-vip.png) no-repeat right 4.7rem bottom;
            background-size: 56.8rem 67.3rem;
        }
        &-link{
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            width:100%;
            height:100%;
        }
        &-title{
            display: inline-block;
            margin-bottom: 4rem;
            padding:3rem 4rem;
            font : {
                size: 4.6rem;
                weight:500;
            }
            background: #ffffff;
            border-radius: 5.1rem;
            line-height: 100%;
        }
        &-text{
            display: block;
            font : {
                size: 6.4rem;
                weight:500;
            }
            line-height: 8.8rem;
        }
        &-text2{
            display: block;
            margin-top: 3rem;
            font-size: 4rem;
            color:#333333;
        }
        .ui-button--icon__right{
            margin-top: auto;
            font-size: 4.2rem;
            line-height: 100%;
            &::after{
                display: inline-block;
                width:1.8rem;
                height:3.3rem; 
                margin-left: 3rem;
                background: url(../image/common/icon/icon_arrowRight.png);
                background-size: cover;
                content: "";
            }
        }
    }
}
.with-vomi{
    width: 100%;
    height: 100%;
    &__inner{
        width: 100%;
        height: 100%;
        border-radius: 3rem;
    }
    &__link{
        display: block;
        width: 100%;
        height:100%;
        padding: 7rem 9rem;
        background: #e4ecfe;
    }
    &__review{
        display: flex;
        margin: -1.5rem;
        &--card{
            padding: 1.5rem;
            &__inner{
                background: #ffffff;
            }
        }
    }
}
.slide-title{
    &__wrap{
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        .button-plus{
            margin-left: auto;
        }
    }
    font : {
        size: 5.5rem;
        weight: 600;
    }
    line-height: 100%;
}

