@charset 'utf-8';
@import 'mixin';

/** 자료마당 > 발간자료 > list */
.subVisual{
    &--data{
        background-image:url('../image/sub/img-subVisual--03.png');
        background-position:center 0;
    }
}
.board{
    &-list{
        &--public{
            margin-left:-40px;
            .board{
                &-item{
                    margin-left:40px;
                }
            }
        }
    }
    &-item{
        width:calc(20% - 40px);
    }
}

/** 자료마당 > 발간자료 > view */


// responsive
@include media-breakpoint-down(n-ml){ //1400
    .board{
        &-list{
            &--public{
                margin-left:-4rem;
                margin-top:-4rem;
                .board{
                    &-item{
                        width:calc(25% - 4rem);
            margin-left:4rem;
            margin-top:6rem;
            &__tit{
                font-size:2.2rem;
            }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(n-md){ //1024
    .board{
        &-list{
            &--public{
                .board{
                    &-item{
                        width:calc(33% - 4rem);
                        &__tit{
                            height:5.7rem;
                            margin-top:2.8rem;
                        }
                        &__date{
                            margin-top:2.3rem;
                            font-size:1.6rem;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(n-sm){ //768
    .subVisual{
        &--data{
            background-image:url('../image/sub/img-subVisual--03_m.png');
        }
    }
    .board{
        &-list{
            &--public{
                margin: 0 -2rem -1rem -2rem;
                .board{
                    &-item{
                        width:50%;
                        margin: 0;
                        padding: 2rem 1rem;
                        &__tit{
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
            
        }
    }
}