@charset 'utf-8';
@import 'mixin';

/** 재단소개 > 공지사항 */
.subVisual{
    &--intro{
        background-image:url('../image/sub/img-subVisual--05.jpg');
        background-position:center 0;
    }
}

/* 재단소개 > 오시는 길 */
// 지도
.root_daum_roughmap .wrap_controllers{
    display: none;
}

.wayAbout{
    &-info{
        padding:5rem;
        background: #fafcff;
        border-top:1px solid #81a1dc;
        dl{
            display: inline-block;
            &+dl{
                margin-left: 3rem;
            }
        }
        dt, dd{
            display: inline-block;
            font-size: 1.8rem;
            line-height: normal;
        }
        dt{
            margin-right: 1rem;
            font-weight: 500;
        }
    }
    &-route{
        &__inner{
            margin-top: 3rem;
            table{
                border-top:1px solid #81a1dc;
                tr{
                    border-bottom:1px solid #d2d5dc;
                }
                th{
                    background: #fafcff;
                    border-right:1px solid #d2d5dc;
                }
                th, td{
                    padding:3rem 4rem;
                    vertical-align: middle;
                }
            }
        }
        &__th{
            width:23.3rem;
        }
    }
}

.route-way{
    &__txt{
        margin-top: 1rem;
        font : {
            size:1.7rem;
            weight:500;
        }
    }
    &__how{
        &-item{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &--left, &--right{
                display: flex;
                align-items: center;
            }
            *{
                flex:none;
            }
            &+&{
                margin-top: 1rem;
            }
            &--ps{
                margin-top:1.5rem;
                font-size:1.6rem;
            }
        }
        &-icon{
            display: inline-block;
            width:2.2rem;
            height:2.2rem;
            margin-right: 1.5rem;
            background-size: 2.2rem;
            &.subway{
                &-line{
                    &6{
                        background-image: url(../image/sub/icon-line6.png);
                        
                    }
                    &air{
                        background-image: url(../image/sub/icon-lineair.png);
                        
                    }
                }
            }
            &.bus{
                &-blue{
                    background-image: url(../image/sub/icon-bus__blue.png);
                }
                &-green{
                    background-image: url(../image/sub/icon-bus__green.png);
                }
                &-red{
                    background-image: url(../image/sub/icon-bus__red.png);
                }
            }
        }
        &-tit, &-txt{
            font-size:1.8rem;
        }
        &-tit{
            width: 8.5rem;
            font-weight:500;
        }
        &-txt{
            // &+&{
            //     &::before{
            //         display: inline-block;
            //         width: .8rem;
            //         height:1.3rem;
            //         margin: 0 1rem;
            //         background: url(../image/common/icon/icon-next.png) no-repeat center;
            //         background-size: .8rem 1.3rem;
            //         content: "";
            //     }
            // }
            &--next{
                display: inline-block;
                width: .8rem;
                height:1.3rem;
                margin: 0 1rem;
                background: url(../image/common/icon/icon-next.png) no-repeat center;
                background-size: .8rem 1.3rem;
            }
        }
    }
}

/* 재단소개 > 부서안내 */
.org{
    &-img{
        position: relative;
        width:100%;
        // height:0;
        // padding-bottom: 41.4%;
        // background: url(../image/sub/bg-org.png) no-repeat center top;
        img{
            display: block;
            margin: 0 auto;
            max-width:100%;
            &.org{
                &-img{
                    &__m{
                        display: none;
                    }
                }
            }
        }
        
    }
    &-list{
        display:flex;
        justify-content: space-around;
        position: absolute;
        bottom: 7%;
        left: 0;
        width:100%;
    }
    &-item{
        position: relative;
        width:calc(20% - 8.7rem);
        height:6.5rem;
        border:1px solid #aab0bd;
        box-sizing: border-box;
        border-radius: 2px;
        background:#f5f5f5;
        &::before, &::after{
            display: inline-block;
            position:absolute;
            content:"";
        }
        &::before{
            top:-4.8rem;
            left: 50%;
            width:1.2rem;
            height:1.2rem;
            border-radius: 100%;
            border:1px solid #8c8c8c;
            background: #ffffff;
            transform: translateX(-50%);
            z-index: 1;
        }
        &::after{
            top:-3.9rem;
            left: 50%;
            width:1px;
            height:4rem;
            background: #8c8c8c;
            transform: translateX(-50%);
            z-index: -1;
        }
        &.is{
            &-active{
                background: #ebf2ff;
                box-shadow: 1rem 1rem 2rem rgba(9,14,46, .13);
            }
        }
    }
    &-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
        font: {
            size: 1.8rem;
            weight:500;
        }
       
    }
    &-ps{
        margin-left: 2.5rem;
        font-size:1.8rem;
        color:#747478;
    }
    &-table{
        margin-top: 5rem
    }
}
.hidden{
    @include hidden;
}

/* 재단소개 > CI */
.ci{
    &-title{
        font: {
            size: 3.6rem;
            weight:400;
        }
        line-height: 5rem;
        text-align: center;
        span{
            font: {
                weight:500;
            }
            color:$color-main;
        }
    }
    &-text{
        font-size: 1.8rem;
        line-height: 3.2rem;
        text-align: center;
    }
    &-wrap{
        &__bottom{
            display: flex;
            margin-top: 5rem;
            margin-left: -4rem;
            margin-right: -4rem;
            >div{
                padding: 0 4rem;
                flex: 1;
            }
            img{
                max-width: 100%;
            }
        }
    }
    &-bottom{
        &__text{
            margin-top: 3rem;
            font: {
                size: 1.8rem;
            }
            line-height: 3.2rem;
        }
        &__txt{
            margin-top: 3rem;
        }
    }
    &-ps{
        font-size: 1.6rem;
        line-height: normal;
    }
}

/* 재단소개 > 재단이 걸어온 길 */ 
.subContent__inner--history{
    //max-width: 100%;
    .tab-wrap{
        max-width: 140rem;
        margin: 0 auto;
        margin-top: -40px;
    }
    .history-wrap__inner{
        width: 140rem;
        margin: 0 auto;
    }
    
}
.history{
    &-wrap{
        .tab{
            &_wrap {
                position: relative;
                overflow: hidden;
                height: auto;
                //max-width: 140rem;
                overflow: visible;
            }
            &-title{
                display: flex;
                align-items: flex-end;
                height:7.2rem;
                position: relative;
                padding: 0;
                margin: 0;
                margin-left: 1px;
                float: left;
                text-align: left;
                cursor: pointer;
                z-index: 10;
                &:nth-child(n+2){
                    margin-left: 7rem;
                }
                &__link{
                    font: {
                        size: 6rem;
                        weight:400;
                    }
                    color:#b9b9b9;
                    letter-spacing: -1px;
                }
                &.on{
                    .tab-title__link{
                        font-size: 7.2rem;
                    }
                }
            }
        }        
    }
    &-tab{
        &__title{
            display: flex;
        }
        &__list{
            &-now{
                &.on{
                    a{
                        color:#8daae0;
                    }
                }
                
            }
            &-past{
                &.on{
                    a{
                        color:#eda39f;
                    }
                }
                
            }
        }
        &__present{
            .swiper-slide{
                width: auto;
                height: 238rem;
            }
            
        }
        &__past{
            .swiper-slide{
                width: auto;
                height: 208rem;
            }
            .year-tab__list{
                &.on{
                    background: #eda39f;
                    border-color: #eda39f;
                }
            }
        }
        &__content{
            >.tab_cont{
                display: none;
                &.on{
                    display: block;
                }
            }
        }
        // &__content{
        //     .tab_cont{
        //         .swiper{
        //             &-scrollbar{
        //                 width: 100%;
        //                 height:.7rem;
        //                 margin-top:1rem;
        //                 background: #8daae0;
        //             }
        //         }
        //     }
        // }
    }
    &-year{
        position: relative;
        flex:none;
        width:18.6rem;
        height:21.6rem;
        margin-top: -1rem;
        //margin-right: 5.3rem;
        font : {
            size:3.2rem;
            weight:500;
        }
        color:#ffffff;
        line-height: 21rem;
        text-align: center;
        text-shadow: 0 0 .5rem rgba(11,46,110,.28);
        z-index: 1;
    }
    &-img{
        margin-right: 8.8rem;
    }
    &-item{
        height:100%;
        margin-top: 8.3rem;
        &__inner{
            height:100%;
        }
        .history{
            &-list__wrap{
                &::before{
                    background: url(../image/sub/history-line__past.png);
                }
            }
        }
        &__now{
            .history{
                &-list__wrap{
                    &::before{
                        background: url(../image/sub/history-line__now.png);
                    }
                }
            }
        }
        &__content{
            display: flex;
            height:100%;
        }
    }
    &-list{
        &__wrap{
            position: relative;
            max-width:calc(140rem - 33.8rem);
            padding-top:8rem;
            padding-left: 5.3rem;
            padding-bottom: 5.3rem;
            &::before{
                position: absolute;
                top: 0;
                left: -9.3rem;
                width:2px;
                height:calc(100% - 8rem);
                //height:100%;
                content:""
            }
            li{
                display: flex;
                align-items: flex-start;
                position: relative;
                font-size: 1.8rem;
                padding-left: 11.5rem;
                //line-height: 4.4rem;
                &+li{
                    margin-top: 1rem;
                }
            }
            strong{
                position: absolute;
                left: 0;
                font-weight: 500;
                line-height: 3.2rem;
            }
            span{
                line-height: 3.2rem;
            }
        }
    }
    &-swiper{
        overflow: visible;
        width: auto;
        height:100%;
        &__present{
            .history{
                &-year{
                    background: url(../image/sub/history-bg__present.png) no-repeat ;
                }
            }
            .history-item__now{
                .history{
                    &-year{
                        background: url(../image/sub/history-bg__now.png) no-repeat center;   
                        background-size: 18.6rem 21.6rem;
                    }
                }
                
            }
            &--tab{
                .swiper-slide{
                    height: 3.4rem;
                }
            }
        }
        &__past{
            .history{
                &-year{
                    background: url(../image/sub/history-bg__past.png) no-repeat ;
                }
            }
        }
        
        .history{
            &-year{
                background-size: 18.6rem 21.6rem;
            }
        }
    }
}

.history{
    &-year{
        &__tab{
            display: none;
            margin-top: 20px;
        }
    }
}
.year{
    &-tab{
        &__ul{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: -0.5px;
        }
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex:none;
            width: calc(100% / 4 - 1px);
            //max-width: 82px;
            height: 34px;
            margin: 0.5px;
            font-size: 14px;
            color:#b9b9b9;
            border:1px solid #d2d5dc;
            border-radius: 2px;
            box-sizing: border-box;
            &.on{
                background: #8daae0;
                border-color: #8daae0;
                box-shadow: .3rem .3rem .8rem rgba(0,0,0,0.13);
                color:#ffffff;
            }
        }
    }
}




// responsive
@include media-breakpoint-down(n-ml){ //1400
    .wayAbout{
        &-info{
            padding:2.5rem;
            &__inner{
                display: flex;
                flex-wrap: wrap;
                margin: -1.5rem -2rem;
                dl{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    padding: 1.5rem 2rem;
                    dt{
                        margin-bottom: 1rem;
                    }
                    &+dl{
                        margin-left: 0;
                    }
                }
            }
        }
        &-route{
            &__inner{
                table{
                    th, td{
                        padding:2rem 3rem;
                    }
                }
            }
            &__th{
                width:17.5rem;
            }
        }
    }
    .route-way{
        // >img{
        //     width:40%;
        // }
        &__how{
            &-item{
                flex-direction: column;
                align-items: flex-start;
                &+&{
                    margin-top: 1.5rem;
                }
                &--left{
                    margin-bottom: .6rem;
                }
                &--right{
                    display: inline-block;
                    width:100%;
                    margin: 0;
                    *{
                        display:inline-block;
                        line-height: normal;
                    }
                }
                &--normal{
                    display: inline-block;
                    width:100%;
                    *{
                        display:inline-block;
                        line-height: normal;
                    }
                }
                &--ps{
                    line-height: normal;
                }
            }
        }
    }
}

@include media-breakpoint-down(n-sm){ //768px
    .subVisual{
        &--intro{
            background-image:url('../image/sub/img-subVisual--05_m.png');
            background-position:center 0;
        }
    }    
    .org{
        &-img{
           
            img{
           
                &.org{
                    &-img{
                        &__pc{
                            display: none;
                        }
                        &__m{
                            display: block;
                        }
                    }
                }
            }
            
        }
    }
    .ci{
        &-wrap{
            &__bottom{
                flex-direction: column;
                margin: 0;
                >div{
                    padding: 0;
                }
                .img-wrap{
                    margin-top: 3rem;
                    text-align: center;
                }
            }
        }
       
        &-text{
            font-size: 14px;
        }
        &-ps{
            font-size: 12px;
            line-height: 22px;
        }
    }
    .history-list__wrap li, .wayAbout-info dt, .wayAbout-info dd, .route-way__how-tit, .route-way__how-txt, .ci-bottom__txt{
        font-size: 14px;
    }
    .route{
        &-way{
            &__txt{
                font-size: 13px;
            }
            &__how{
                &-txt{
                    &--next{
                        margin: 0 2px;
                    }
                }
                &-item--ps{
                    font-size:12px;
                }
            }
        }
        
    }
    .root_daum_roughmap{
        .wrap_map{
            height: 300px !important;
        }
    }
    
    .ci-title{
        font-size: 18px;
        line-height: 28px;
        br{
            display: none;
        }
    }
    .wrap_map{
        height:400px !important;
    }
    .wayAbout-info__inner {
        flex-direction: column;
        margin: -.5rem -2rem;
        dl{
           flex-direction: row; 
            width:100%;
            padding:.5rem 2rem;
            dt{
                margin-bottom: 0;
                flex:none;
            }
        }
    }
    .wayAbout-route__inner table {
        th{
            padding: 0;
        }
        th,td{
            padding: 2rem;
        }
    }
    .wayAbout-route__th{
        width: 12rem;
    }
    .subContent__inner--history {
        .history-wrap__inner{
            width: 100%;
        }
        .tab-wrap{
            margin-top: -20px;
        }
    }
    .history{
        &-wrap {
            .tab{
                &-title{
                    height:auto;
                    &.on{
                        .tab-title__link{
                            font-size: 26px;
                        }
                    }
                    .tab-title__link{
                        font-size: 22px;
                    }
                    &:nth-child(2){
                        margin-left: 20px;
                    }
                }
                &_cont{
                    display: none;
                    //position: absolute;
                    //top: 8rem;
                    width: 100%;
                    // height:100%;
                    height: auto;
                    padding-bottom: 0;
                    box-sizing: border-box;
                    overflow: visible;
                    &.on{
                        display: block;
                    }
                }
            }
        }
        &-img{
            display: none;
        }
        &-year{
            width:100%;
            height:auto;
            background: none !important;
            font-size: 28px;
            line-height: normal;
            text-shadow: none;
            &__tab{
                display: block;
            }
        }
        &-item{
            margin-top: 30px;
            &__content{
                flex-direction: column;
                height: auto;
            }
        }
        &-list{
            &__wrap{
                margin-top: 20px;
                padding-left:12px;
                padding-top:0;
                padding-bottom: 0;
                &::before{
                    left:0;
                    height:100%;
                    background-size: cover;
                }
                li{
                    padding-left: 90px;
                    &+li{
                        margin-top: 15px;
                    }
                }
            }
        }
        &-tab{
            &__title{
                justify-content: center;
            }
        }
    }
    .history-swiper__present .history-year{
        color:#8daae0;
        text-align: center;
    }
    .history-swiper__past .history-year{
        color:#eda39f;
        text-align: center;
    }
    // .history-wrap .tab_cont{
    //     height: auto;
    //     padding-bottom: 0;
    // }
    
    
}
