@charset 'utf-8';
@import 'mixin';

/* 사이트맵 */ 
.subContent__inner--sitemap{
    max-width: 100%;
    background: url(../image/sub/bg-sitemap.png) no-repeat right bottom;
    background-size: 60rem 61.3rem;
}
.sitemap{
    &-wrap{
        max-width: 140rem;
        margin: 0 auto;
        &__inner{
            margin:-3rem -5rem;
        }
    }
    &-item{
        display: inline-block;
        width:33%;
        padding:3rem 5rem;
        vertical-align: top;
        text-align: center;
    }
    &-title{
        margin-bottom: 2rem;
        padding:2.6rem;
        border-bottom:2px solid #3b60a5;
        font : {
            size: 2.4rem;
            weight:500;
        }
        color:#4568a9;
        
    }
    &-link{
        font-size: 1.8rem;
        line-height: 4rem;
    }
}

/* 개인정보처리방침 */
.policy{
    &-wrap{
        &__inner{
            max-width: 140rem;
            margin: 0 auto;
        }
    }
    &Area{
        *{
            font-size: 1.8rem;
            line-height: 3.2rem;
        }
        h4{
            margin-top: 4rem;
            font-weight: 500;
        }
        ul{
            margin-top: 4rem;
        }
        .list-dot{
            display: block;
            position: relative;
            padding-left:1rem;
            &::before{
                position: absolute;
                top: 1.5rem;
                left:2px;
                width:2px;
                height:2px;
                background: #000000;
                content:""
            }
        }
        .table-wrap{
            width: 100%;
            table{
                border:1px solid #ddd;
                width: 72rem;
            }
        }
    }
}

// responsive
@include media-breakpoint-down(n-xs){ //n-lg: 1280px,
    
}
@include media-breakpoint-down(n-sm){ //768px
    .sitemap{
        &-wrap{
            &__inner{
                display: flex;
                flex-wrap: wrap;
                margin: -2rem;
            }
        }
        &-item{
            width:50%;
            padding: 2rem;
        }
        &-title{
            font-size: 18px;
        }
        &-link{
            font-size: 14px;
        }
    }
    .policyArea{
        *{
            font-size: 14px;
        }
        .table-wrap{
            width: 100%;
            overflow-x: scroll;
            table{
                width: 82rem;
            }
        }
    }
}