@import './helper/mixin';


.ui-button{
   border-radius: 2rem;
}



@include media-breakpoint-down(n-md){ //1024
    .btn{
        &--download{
            width:11.7rem;
            height:4rem;
            padding-left:3rem;
            font-size:1.6rem;
            background-size:1.8rem 1.8rem;
            background-position:2rem center;
        }
        &--list{
            width:13.2rem;
            height:5.4rem;
            font-size:1.8rem;
        }
        
    }
}
@include media-breakpoint-down(n-sm){ //768px
    .btn-wrap .btn{
        font-size: 14px;
    }
}


