@import './helper/mixin';

// width
.width{
    &-80{
        width: 8rem;
    }
    &-170{
        width: 17rem;
    }
    &-370{
        width: 37rem;
    }
}
.height{
    &-265{
        height: 26.5rem;
    }
}
// margin
.m{
    &r{
        &-auto{
            margin-right:auto;
        }
    }
    &l{
        &-auto{
            margin-left:auto;
        }
        &-10{
            margin-left:1rem;
        }
        &-20{
            margin-left:2rem;
        }
        &-30{
            margin-left:3rem;
        }
    }
    &t{
        &-10{
            margin-top:1rem;
        }
        &-20{
            margin-top:2rem;
        }
        &-30{
            margin-top:3rem;
        }
        &-40{
            margin-top:4rem;
        }
        &-45{
            margin-top:4.5ren;
        }
        &-50{
            margin-top:5rem;
        }
        &-60{
            margin-top:6rem;
        }
        &-70{
            margin-top:7rem;
        }
        &-75{
            margin-top:7.5rem;
        }
        &-80{
            margin-top:8rem;
        }
        &-90{
            margin-top:9rem;
        }
        &-115{
            margin-top:11.5rem;
        }
        &-140{
            margin-top:14rem;
        }
        &-150{
            margin-top:15rem;
        }
    }
    &b{
        &-60{
            margin-bottom:6rem;
        }
        &-90{
            margin-bottom:9rem;
        }
        &-120{
            margin-bottom:12rem;
        }
    }
}

//font
.txt{
    &-depth{
        &--01{
            font-size:24px
        }
        &--02{
            font-size:22px
        }
        &--03{
            font-size:2rem
        }
        &--04{
            font-size:18px
        }
        &--05{
            font-size:16px
        }
        &--06{
            font-size:14px
        }
        &--07{
            font-size:12px
        }
    }
}
.font{
    &-weight{
        &__r{
            font-weight: 500;
        }
        &__m{
            font-weight: 600;
        }
    }
}

//background-color
.bg{
    &-gray{
        background-color:#f8f8f8;
    }
}

//color
$color-blue : #3c50a2;
.color-blue{
    color: $color-blue;
}


/* img */ 
.img{
    &-alert{
        width: 16.8rem;
        height: 16.8rem;
        margin: 0 auto;
        background: url(../image/common/img-alert--border.png);
        background-size: 16.8rem;
    }
    &-check{
        width: 22.1rem ;
        height: 22rem;
        margin: 0 auto;
        background: url(../image/common/img-check.png);
        background-size: 22.1rem 22rem;
    }
}

.flex{
    flex: 1;
}

// responsive
@include media-breakpoint-down(n-ml){ //1400
    //margin
    .m{
        &t{
            &-20{
                margin-top:2rem;
            }
            &-30{
                margin-top:3rem;
            }
            &-40{
                margin-top:4rem;
            }
            &-50{
                margin-top:5rem;
            }
            &-60{
                margin-top:6rem;
            }
            &-80{
                margin-top:8rem;
            }
        }
    }

    //font
    .txt{
        &-depth{
            &--01{
                font-size:2.4rem
            }
            &--02{
                font-size:2.2rem
            }
            &--03{
                font-size:2.0rem
            }
            &--04{
                font-size:1.8rem
            }
            &--05{
                font-size:1.6rem
            }
            &--06{
                font-size:1.4rem
            }
            &--07{
                font-size:1.2rem
            }
        }
    }
}