@charset 'utf-8';
@import './helper/mixin';

.sch{
    &-wrap{
        display:flex;
        align-items: flex-end;
    }
    &-form{
        display:flex;
        height:50px;
        &__select{
            min-width:130px;
            height:100%;
            margin-right:3px;
            font-size:16px;
            font-weight:400;
            border:1px solid #d2d5dc;
            background-color:#fff;
            background-image: url('../image/common/icon/icon-clampDown.png');
            background-repeat:no-repeat;
            background-position:90% center;
        }
        &__label{
            display:flex;
            width: 40rem;
            font-size:0;
        }
        &__input{
            width:100%;
            height:100%;
            border:1px solid #d2d5dc;
            &::placeholder{
                font-size:16px;
                color:#000;
                font-weight:400;
            }
        }
    }
}
.ui{
    &-form{
        input,textarea{
            width:100%;
            border:1px solid #cbcfd6;
            box-sizing: border-box;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            border-radius: 2rem;
            font-size: 6rem;
            
        }
        &__button{
            display: flex;
        }
        &__cell{
            display: flex;
            align-items: center;
            .ui-form{
                flex: 1;
            }
        }
        &__text{
            font-size: 5.5rem;
            margin-right: 6.5rem;
        }
    }
    &-input{
        padding-left: 3.6rem;
        height:20rem;        
        &__full{
            width:100%;
        }
        &__width{
            &-m{
                width:32.2rem;
            }
            &-400{
                width:40rem;
            }
        }
        &__bg{
            &-gray{
                background: #f8f8f8;
            }
        }
    }
    &-select{
        width:100%;
        height:20rem;
        border:.3rem solid #d8dce2;
        box-sizing: border-box;
        background: url(../image/common/icon/icon-select.png) no-repeat right 5.5rem center;
        background-size: 3.9rem 2.6rem;
        border-radius: 1.5rem;
    }
    &-textarea{
        height:15rem;
        padding: 1.5rem 2rem;
        font-size: 1.6rem;
        resize: none;
    }
    &-radio, &-checkbox{
        &__inner{
            margin: -.5rem;
        }
        &__item{
            display: inline-block;
        }
        &-object{
            position: relative;
            display: block;
            width: 6.9rem;
            height: 6.9rem;
            /* margin-top: -1px; */
            border: 1px solid #ced4db;
            box-sizing: border-box;
            border-radius: .5rem;
            background: no-repeat 50% 50% #fff;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            vertical-align: top;
        }
        &:focus{
            +.ui-label .ui-checkbox-object,
            +.ui-label .ui-radio-object{
                outline-width: 1px;
                outline-style: dotted;
            }
        }
        &-input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked{
                &+.ui-label .ui-radio-object{
                    border:5px solid #4568a9;
                }
                // ::before {
                //     opacity: 1;
                // }
            }
        }
    }
    &-radio{
        &__item{
            position: relative;
            padding:5px;
            z-index: 0;
            font-size: 0;
            line-height: 0;
        }
        &-object{
            border-radius: 100%;
            // &::before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     margin: -5.5px 0 0 -5px;
            //     width: 10px;
            //     height: 10px;
            //     border-radius: 100%;
            //     background: #5ca093;
            //     opacity: 0;
            // }
        }
        &:checked+.ui-label .ui-radio-object {
            border-color: #5ca093;
        }
    }
    &-checkbox{
        &-block{
            display: inline-flex;
            align-items: center;
            padding: .5rem;
            .ui{
                &-checkbox{
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    border: 0;
                    &-object{
                        display: inline-block;
                    }
                }
                
                &-label{
                    margin: 0;
                }
            }
        }
        &:checked+.ui-checkbox-object,
        &:checked+.ui-label .ui-checkbox-object{
            border-color: #4b62c3;
            background-color: #4b62c3;
            background-image: url('../image/common/icon/icon-check.png');
            background-size: 4.5rem 3.1rem;
        }
    }
    &-label {
        @include d-flex;
        @include align-center;
        font-size: 1.6rem;
        line-height: normal;
        cursor: pointer;
        &__text{
            margin-left: 4rem;
            vertical-align: middle;
            font-size: 5rem;
        }
    }
    &-file{
        &-input {
            font-size: 0;
            line-height: 0;
            white-space: nowrap;
            &__inner{
                position: relative;
                display: inline-block;
                vertical-align: top;
            }
            &__input {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                text-indent: 0;
            }
            &__watch {
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__label {
                display: inline-block;
                vertical-align: top;
                width: 13.5rem;
                height:5rem;
                box-sizing: border-box;
                background-color: #4568a9;
                font-size: 1.6rem;
                color:#ffffff;
                line-height: 5rem;
                white-space: nowrap;
                text-align: center;
              }
        }
        &-vol{
            margin-left: 1.5rem;
            font-size:1.6rem;
            color:#747478;
            letter-spacing: -1px;
            span{
                font-weight: 600;
            }
        }
    }
    
}
.attach{
    &-file{
        &__top{
            @include d-flex;
            @include align-center;
        }
        &__bottom{
            margin-top:1.5rem;
            padding:1.5rem 2rem;
            border:1px solid #d2d5dc;
        }
        &__name{
            line-height: normal
        }
        &__item{
            @include d-flex;
            @include align-center;
            padding: .2rem 0 .2rem 2.5rem;
            font-size: 1.6rem;
            background: url(../image/common/icon/icon-file__list.png) no-repeat left center;
            background-size: 1.5rem 1.8rem;
            &+&{
                margin-top: 1rem;
            }
            .delete-file{
                width:2rem;
                height:2rem;
                margin-left: 1rem;
                background: url(../image/common/icon/icon-delete__file.png) no-repeat center;
                background-size: cover;
                flex:none;
            }
        }
    }
}

.form{
    &-title{
        margin-bottom: 5rem;
        font: {
            size:6rem;
            weight:500;
        };
    }
    &-item{
        &.form-item{
            margin-top: 10rem;
        }
    }
}

@include media-breakpoint-down(n-md){ //1024
    
}

