@charset 'utf-8';
@import './helper/mixin';



.modal {
    padding-right: 0 !important;

    &-header {
        padding: 10rem 6rem 0 6rem;
    }

    &-body {
        padding: 0;

        &__main {
            .modal-core {
                padding: 10rem 8rem;
            }
        }
    }

    &-dialog {
        justify-content: center;
    }

    &-content {
        max-width: 80%;
        max-height: 80%;
        width: 100%;
        padding: 0;
        border: 0;
        box-shadow: none;
        border-radius: 2rem;
        overflow: hidden;
        &__email {
            .modal {
                &-tit {
                    margin-bottom: 3rem;
                    font-size: 2.4rem;
                }

                &-img {
                    display: block;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
        }
    }

    &-core {
        padding: 12.5rem 5rem;
        &2 {
            padding: 12rem 6rem;
            &:first-child{
                margin-top: -2rem;
            }
            .modal-core2__title {
                position: relative;
                padding-bottom: 6rem;
                margin-bottom: 7rem;
                font : {
                    size: 6rem;
                    weight:600;
                }
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: .4rem;
                    background: #000000;
                    content: "";
                }
            }
            // &+&{
            //     border-top:3rem solid;
            // }
        }
    }

    &-tit {
        margin-bottom: 2.5rem;
        font : {
            size: 2rem;
            weight: 500;
        }

        text-align: center;
    }

    &-title {
        margin-bottom: 7.5rem;
        font : {
            size: 6.5rem;
            weight: 600;
        }
        text-align: center;
        line-height: 9rem;
    }

    &-text {
        font-size: 6rem;
        line-height: normal;

        &__small {
            font: {
                size: 5rem;
            }

            ;
            line-height: 7rem;
        }
    }

    &-backdrop {
        background: rgba(0, 0, 0, 0.56);
    }

    &-buttons {
        .ui-button {
            font : {
                size: 6rem;
                weight:500;
            }
            border-radius: 0 0 2rem 2rem;
        }
        &__sticky{
            display: flex;
            .ui-button{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border : {
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &+.ui-button{
                    margin-left: 0;
                }
            }
        }
    }

    &-box {
        &__gray {
            padding: 5rem 6rem;
            background: #f3f5fb;
            border-radius: 2rem;

            * {
                font-size: 5rem;
                line-height: 7rem;
            }
        }
    }
}